
@{
    ViewBag.Title = "Heavy Haulage and LineHaul";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_35">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Heavy Haulage and Line Haul</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / Our Solutions / Heavy Haulage and Line Haul</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Column1 Starts -->
<div class="GrayArea" id="NationalLineHaulLogistics">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/Heavy/NationalLine.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> National Line Haul Logistics</h1>
                <p class="Universe">
                    Legend Australia, our interstate linehaul network spans the entirety of Australia, catering to everything from part loads right up to full loads.
                    With an impressive fleet comprising over 15 GPS-tracked prime movers and a range of customised, high-cubic capacity trailers, we’re the
                    ideal solution for all your national line haul requirements.
                </p>
                <p class="Universe">
                    Our flexible model, combining depot-to-depot and direct delivery routes, ensures that your delivery needs are always prioritised and
                    managed efficiently. From major cities to remote locations, we can be relied upon for a seamless and timely delivery process.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column1 Ends -->
<!-- Column2 Starts -->
<div class="GrayArea1" id="RoadTrainTransport">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Road Train Transport</h1>
                <p class="Universe">
                    Widely known for its excellence in road train haulage services across Australia, Legend Australia connects clients with a wide-reaching
                    logistics network, advanced road train combinations and configurations, and a skilled team dedicated to ensuring prompt and safe delivery.
                </p>
                <p class="Universe">
                    Our fleet is made up of multiple trucks and trailers fitted with the latest technology, which allows us to cater to even the most
                    complex transportation requirements. Whether it's raw materials, industrial equipment, or oversized machinery, we can transport
                    your goods with the highest level of efficiency and reliability.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/Heavy/RoadTrain.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>

        </div>
    </div>
</div>
<!-- Column2 Ends -->
<!-- Column3 Starts -->
<div class="GrayArea" id="HeavyHaulage">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/Heavy/HeavyHaulage.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Heavy Haulage</h1>
                <p class="Universe">
                    Founded with a vision to redefine heavy haulage services, our fleet of modern, well-maintained vehicles ensures
                    optimal performance for every journey, while our skilled drivers and logistics team coordinate seamless operations
                    from start to finish. From construction materials to mining aggregates, we can cater to a wide range of haulage
                    needs always ensuring the highest standard of safety and efficiency are met.
                </p>
                <p class="Universe">
                    With Legend Australia, you can trust us to navigate the complexities of heavy haulage with ease.
                    We take care of all necessary permits and route planning, provide real-time tracking for peace of
                    mind, and adhere to stringent safety protocols to protect your valuable cargo.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column3 Ends -->
<!-- Column4 Starts -->
<div class="GrayArea1" id="InfrastructureLogistics">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 10px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Infrastructure Logistics</h1>
                <p class="Universe">
                    As a reputable leader in the logistics industry, our experience isn't solely limited to component and infrastructure transportation. 
                    We have a clear understanding of the life cycle of precast elements – from production, through storage, 
                    to site installation – and the associated handling that is involved.
                </p>
                <p class="Universe">
                    
                    Australia has the capacity to accommodate a wide range of essential component and precast types as well as raw materials, including :
                </p>
                <ul class="Universe">
                    <li> Beams and columns</li>
                    <li> Stairs and ladders</li>
                    <li> Girders and joists </li>
                    <li> Wall panels and slabs</li>
                    <li> Building envelopes</li>
                </ul>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/Heavy/InfrastructureLogistics.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column4 Ends -->
<!-- Column5 Starts -->
<div class="GrayArea" id="Precast Concrete Transport">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/Heavy/PrecastConcrete.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Precast Concrete Transport</h1>
                <p class="Universe">
                    Precast concrete, popular across the construction industry for its versatility and strength, requires specialised handling 
                    during transportation which is why Legend Australia have tailored our services to meet these unique needs. Equipped with 
                    the latest rigging and handling tools for efficient loading and unloading, our fleet ensures that whether you're transporting 
                    beams, walls, or flooring slabs, every piece reaches its destination in pristine condition.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column5 Ends -->
<!-- Column6 Starts -->
<div class="GrayArea1" id="ModularandBuildingTransportSolutions">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-right" style="padding:0px 50px 0px 40px;">
                <h1 class="mb-4 pm12 mt-2"> Modular and Building Transport Solutions</h1>
                <p class="Universe">
                    When it comes to modular and other portable buildings, Legend Australia is the go-to provider across Australia.
                    Our team of transport professionals are skilled in handling a wide range of materials, structures, and products,
                    meaning we have the capacity to move any type of modular building safely and securely.
                </p>
                <p class="Universe">
                    Whether you’re installing an office on a construction site, setting up temporary housing, or delivering prefabricated 
                    homes, our team offers tailored logistics plans to suit your job. We handle everything from route planning to site 
                    access considerations, and safe loading and unloading, ensuring seamless transportation from start to finish.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/Heavy/modularbuildings.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column6 Ends -->
