
@{
    ViewBag.Title = "Local Charges";
}

<div class="bradcam_area bradcam_bg_3 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Our Solutions</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / Our Solutions / Local Charges</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Flags Section Starts -->
<div class="property_certificates">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row" data-aos="fade-right">
                    <div class="col-lg-1">
                        <a href="~/Content/documents/Bangladesh.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/Bangladesh.webp" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">Bangladesh </h6>
                        </a>
                    </div>

                    <div class="col-lg-1 mb-3"></div>

                    <div class="col-lg-1">
                        <a href="~/Content/documents/China.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/China.webp" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">China </h6>
                        </a>
                    </div><br />

                    <div class="col-lg-1 mb-3"></div>

                    <div class="col-lg-1 col-lg-1 mb-1">
                        <a href="~/Content/documents/India.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/India.webp" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">India</h6>
                        </a>
                    </div><br />

                    <div class="col-lg-1 mb-3"></div>

                    <div class="col-lg-1">
                        <a href="~/Content/documents/Indonesia.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/Indonesia.webp" style="border:groove;border-width:0.5px!important;" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">Indonesia</h6>
                        </a>
                    </div>

                    <div class="col-lg-1 mb-3"></div>

                    <div class="col-lg-1">
                        <a href="~/Content/documents/Malaysia.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/Malaysia.webp" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">Malaysia </h6>
                        </a>
                    </div>
                </div>
                <br>

                <div class="row" data-aos="fade-right">
                    <div class="col-lg-1 col-lg-1 mb-1">
                        <a href="~/Content/documents/Myanmar.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/Myanmar.webp" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">Myanmar </h6>
                        </a>
                    </div>

                    <div class="col-lg-1 mb-3"></div>

                    <div class="col-lg-1 col-lg-1 mb-1">
                        <a href="~/Content/documents/Singapore.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/Singapore.webp" style="border:groove;border-width:0.5px!important;color:black!important;" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">Singapore </h6>
                        </a>
                    </div>

                    <div class="col-lg-1 mb-3"></div>

                    <div class="col-lg-1 col-lg-1 mb-1">
                        <a href="~/Content/documents/Thailand.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/Thailand.webp" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">Thailand </h6>
                        </a>
                    </div>

                    <div class="col-lg-1 mb-3"></div>

                    <div class="col-lg-1 col-lg-1 mb-1">
                        <a href="~/Content/documents/Vietnam.pdf" target="_blank">
                            <img src="~/Content/images/CountryFlags/Vietnam.webp" atl="Image" class="SSImage" />
                            <h6 style="margin:10px 0px 0px 0px;font-size: 15px;line-height: 25px;">Vietnam </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Flags Section Ends -->

<style>
    .SSImage {
        max-width: 80%;
    }
</style>

<script src="~/Content/js/site.js"></script>