
@{
    ViewBag.Title = "Marine Logistics";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area1 bradcam_bg_29">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text1" style="text-align:center;">
                    <h3>Marine Logistics (Breakbulk / RORO services)</h3>
                    <p class="bradBoldFont" style="font-size:20px;text-transform:none;text-align:justify;">
                        At Regent Carrier, we specialize in offering comprehensive shipping and transportation solutions for various types of cargo, serving both containerized shipments and project cargos.
                        Through our in-house liner and tramping services, we provide unparalleled flexibility and reliability to address your distinct shipping and transportation requirements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Column1 Starts -->
<div class="GrayArea" id="LinerService">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/RegentVessel/Regent13.jpeg" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h6 class="pm12 mb-4">Liner Service</h6>
                <p class="Universe">
                    <span style="font-weight:bold;">Roll-On/Roll-Off (“RORO”) service : </span> Regent owns and operates a young fleet of RORO vessels designed to easily transport
                    wheeled cargo such as vehicles and heavy machinery. This ensures hassle-free door-to-door shipments and guarantees the safe and swift delivery of heavy and oversized cargo.
                </p>
                <p class="Universe">
                    <span style="font-weight:bold;">Breakbulk service : </span>Regent offers specialised handling and transport solutions to clients with oversized or out-of-gauge cargo.
                </p>
                <h6 style="color:#183682;font-size:15px;" class="fw-bold">Batam - Singapore Service</h6>
                <p class="Universe">
                    Regent offers a door-to-door liner RORO service between Jurong Port and Batu Ampar B99, operating twice daily.
                </p>
                <h6 style="color: #183682; font-size: 15px;" class="fw-bold">Bintan - Singapore Service</h6>
                <p class="Universe">
                    @*As the <span style="color:#183682;">exclusive shipping and logistics provider at Bintan Industrial Estate (BIE),</span> Regent transports and handles Freight of All Kinds (FAK).
                        Our modus operandi includes daily RORO services via Jurong Port to and from Bintan.*@
                    <span style="font-weight:bold;">Regent is the exclusive shipping and logistics provider at Bintan Industrial Estate (BIE).</span>
                    Regent transports and handles Freight of All Kinds (FAK). Its modus operandi includes daily RORO services via Jurong Port to and from Bintan.
                </p>
            </div>
        </div>
    </div><br /><br />
</div>
<!-- Column1 Starts -->
<!-- Column1 Starts -->
<!-- Column1 Ends -->
<!-- Co Starts -->
<div class="GrayArea1" id="TrampingService">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-right" style="padding:0px 50px 0px 40px;">
                <h1 class="mb-4 pm12 mt-2">Tramping Service</h1>
                <p class="Universe">
                    Regent’s tramping service is designed to provide customised solutions, <span style="font-weight:bold;">suitable for transporting a wide range of cargo types, including bulk commodities, general cargo, breakbulk, and project cargo.</span>
                </p>
                <p class="Universe">
                    Through its tramping service, Regent operates on a more flexible and ad-hoc basis based on the cargo requirements and market conditions.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/NEW/TrampingServices.png" class="img-fluid" style="border-radius: 15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Content Ends -->
