
@{
    ViewBag.Title = "Our Solutions";
}

<script src="~/Content/js/site.js"></script>


<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_35">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="bradcam_text">
                    <h3>Our Solutions</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / <a href="@Url.Action("OurSolutions","OurSolutions")">Our Solutions</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Column1 Starts -->
<div class="GrayArea" id="GeneralCargoTrucking">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/DangerousGoodsTrucking.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> General Cargo Trucking</h1>
                <p class="Universe">
                    Regent provides comprehensive cargo trucking services, encompassing seamless loading, unloading, and dependable delivery solutions for a diverse range of goods.
                    Our dedicated team offers unparalleled expertise, delivering tailored guidance and advice based on your unique site conditions and specific requirements.
                    This ensures the implementation of the most cost-effective and efficient approach to meet your transportation needs.
                </p>
                <p class="Universe">
                    At Regent, we specialize in trucking services designed to handle containers of various types and sizes, catering to a diverse range from 10 ft to 20 ft, 40 ft, etc.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column1 Ends -->
<!-- Column2 Starts -->
<div class="GrayArea1" id="DangerousGoodsTrucking">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Dangerous Goods Trucking</h1>
                <p class="Universe">
                    Regent has a proven track record in handling dangerous goods with utmost care,
                    ensuring the safe and efficient transportation of your goods to their destinations.
                </p>
                <p class="Universe">
                    Our dedicated fleet of prime movers is equipped with the latest safety features
                    and technology to provide optimal security during transit. With a team of experienced
                    dangerous goods specialists, we guarantee strict compliance with all necessary
                    regulations for the safe transportation of hazardous goods.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/DangerousGoodsTrucking.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>

        </div>
    </div>
</div>
<!-- Column2 Ends -->
<div class="GrayArea" id="HealthcareLogistics">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5 mt-2" data-aos="fade-right">
                <img src="~/Content/images/OurSolutions/SpecialisedRegent.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Healthcare Logistics</h1>
                <p class="Universe">
                    Navigating the complexities of healthcare logistics demands precision and unwavering reliability. At Regent, we recognize the critical nature of every shipment,
                    ensuring that your medical supplies and equipment reach their destination with the highest level of care.
                </p>
                <p class="Universe">
                    Regent specializes in providing comprehensive healthcare logistics solutions, encompassing warehousing, door-to-door service, last-mile delivery, and distribution services.
                </p>
                <p class="Universe">
                    Our specialized team is deeply knowledgeable about the unique demands of the healthcare industry, handling a diverse range of materials, including pharmaceuticals,
                    medical devices, and diagnostic samples. With a keen understanding of the stringent regulations governing healthcare logistics, we meticulously manage every aspect of the process, guaranteeing compliance and peace of mind for our clients.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column4 Ends -->
<!-- Column6 Starts -->
<div class="GrayArea1" id="YachtTransport">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 10px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Yacht Transport</h1>
                <p class="Universe">
                    Be it entering or departing from marinas, or heading for an expedition, moving of boats and yachts entails a high level of professionalism and technical expertise.
                </p>
                <p class="Universe">
                    With over a decade of undisputed industrial expertise in prestigious projects, professional racing events, private owners and reputable marinas,
                    Regent tailors its solutions to the total logistics needs of the global boat and yachting community.
                </p>
                <p class="Universe">
                    Our extensive range of risk-free boat and yacht total logistics solutions include :
                </p>
                <ul class="Universe">
                    <li> Documentation and insurance services</li>
                    <li> Customs clearance, certified surveying, and reporting</li>
                    <li> Cradle fabrication for secure modes of cradling</li>
                    <li> Arrangements for skippers and divers, ensuring safety during transportation</li>
                    <li> Loading and discharging supervised by a qualified loadmaster</li>
                </ul>
                <p class="Universe" style="font-weight:bold;">
                    Regent specializes in the transportation of yachts and boats of all types and sizes.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/UpdatedImages/Solutions/yachtTransport.png" class="img-fluid" style="border-radius: 15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column5 Ends -->
<!-- Column5 Starts -->
<div class="GrayArea" id="AutomotiveLogistics">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5 align-self-center" data-aos="fade-right">
                <img src="~/Content/images/A.png" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Automotive Logistics</h1>
                <p class="Universe">
                    Regent specializes in providing specialized automotive logistics solutions tailored to meet the distinctive requirements of the automotive industry.
                    Our extensive suite of automotive logistics services encompasses customs processing, transportation, vehicle storage in our owned and authorized warehouses, and distribution services.
                </p>
                <p class="Universe">
                    Whether it's a new, used, or exported vehicle, or the necessity for bonded warehousing, we offer the expertise and equipment for seamless transportation and the ideal facilities for storing your vehicles securely.
                </p>
                <p class="Universe">
                    Located in Jurong Logistics Hub, <span style="color:#183682;">our 250,000 sqft warehouse</span> is dedicated to the storage of vehicles and other goods, ensuring efficient and reliable handling of your automotive logistics needs.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column5 Ends -->
<!-- Co Starts -->
<div class="GrayArea1" id="TrampingService">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h6 class="pm12 mb-4">Liner Service</h6>
                <p class="Universe">
                    <span style="font-weight:bold;">Roll-On/Roll-Off (“RORO”) service : </span> Regent owns and operates a young fleet of RORO vessels designed to easily transport
                    wheeled cargo such as vehicles and heavy machinery. This ensures hassle-free door-to-door shipments and guarantees the safe and swift delivery of heavy and oversized cargo.
                </p>
                <p class="Universe">
                    <span style="font-weight:bold;">Breakbulk service : </span>Regent offers specialised handling and transport solutions to clients with oversized or out-of-gauge cargo.
                </p>
                <h6 style="color:#183682;font-size:15px;" class="fw-bold">Batam - Singapore Service</h6>
                <p class="Universe">
                    Regent offers a door-to-door liner RORO service between Jurong Port and Batu Ampar B99, operating twice daily.
                </p>
                <h6 style="color: #183682; font-size: 15px;" class="fw-bold">Bintan - Singapore Service</h6>
                <p class="Universe">
                    @*As the <span style="color:#183682;">exclusive shipping and logistics provider at Bintan Industrial Estate (BIE),</span> Regent transports and handles Freight of All Kinds (FAK).
                        Our modus operandi includes daily RORO services via Jurong Port to and from Bintan.*@
                    <span style="font-weight:bold;">Regent is the exclusive shipping and logistics provider at Bintan Industrial Estate (BIE).</span>
                    Regent transports and handles Freight of All Kinds (FAK). Its modus operandi includes daily RORO services via Jurong Port to and from Bintan.
                </p>
            </div>
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/RegentVessel/Regent13.jpeg" class="img-fluid" style="border-radius:15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column1 Starts -->
<div class="GrayArea" id="TrampingService">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/NEW/TrampingServices.png" class="img-fluid" style="border-radius: 15px;" />
            </div>
            <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-right" style="padding:0px 50px 0px 40px;">
                <h1 class="mb-4 pm12 mt-2">Tramping Service</h1>
                <p class="Universe">
                    Regent’s tramping service is designed to provide customised solutions, <span style="font-weight:bold;">suitable for transporting a wide range of cargo types, including bulk commodities, general cargo, breakbulk, and project cargo.</span>
                </p>
                <p class="Universe">
                    Through its tramping service, Regent operates on a more flexible and ad-hoc basis based on the cargo requirements and market conditions.
                </p>
            </div>

        </div>
    </div>
</div>
<!-- Co Starts -->
<div class="GrayArea1" id="LinerServices">
    <div class="container">
        <div class="row justify-content-center mb-4">

            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h6 class="pm12 mt-2 mb-4">Liner Services (Container / LOLO Services)</h6>
                <p class="Universe">
                    <span style="font-weight:bold;">Lift-On/Lift-Off (“LOLO”) service : </span>
                    Regent’s Liner LOLO service offers reliable solutions for the transportation of heavy, oversized or out-of-gauge cargo via its specialised lift-on, lift-off vessels.
                </p>
                <p class="Universe">
                    Regent provides a fixed schedule, allowing for seamless port-to-port transportation, with specialised equipment and experienced crew to handle
                    the loading and unloading of both containerised and non-containerised goods.
                </p>
            </div>
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/NEW/65.png" class="img-fluid" style="border-radius:15px;" />
            </div>
        </div>
    </div><br /><br />
</div>
<!-- Column1 Starts -->
<div class="GrayArea">
    <div id="LessthanContainerLoad">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-4 order-1 order-lg-2" style="text-align:end;" data-aos="fade-right">
                    <img src="~/Content/images/NEW/Edited.jpg" class="img-fluid" style="border-radius:15px;" />
                </div>
                <div class="col-lg-8 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                    <h1 class="mb-4 pm12 mt-2"> Less-than-Container Load (LCL) Consolidation Services</h1>
                    <p class="Universe">
                        Regent provides a cost-effective solution for customers shipping smaller volumes of cargo that don't fill an entire container.
                    </p>
                    <p class="Universe">
                        Regent efficiently consolidates multiple shipments from different clients into a single container, optimising space and reducing overall shipping costs.
                    </p>

                    <p class="Universe">
                        With reliable scheduling and secure handling, Regent ensures your goods are safely transported while offering flexibility in delivery.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Column5 Starts -->
<!-- Column5 Ends -->
<div class="GrayArea1" id="NationalLineHaulLogistics">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-right" style="padding:0px 50px 0px 40px;">
                <h1 class="mb-4 pm12 mt-2"> National Line Haul Logistics</h1>
                <p class="Universe">
                    At Legend Australia, our interstate linehaul network spans the entirety of Australia, catering to everything from part loads right up to full loads.
                    With an impressive fleet comprising over 15 GPS-tracked prime movers and a range of customised, high-cubic capacity trailers, we’re the
                    ideal solution for all your national line haul requirements.
                </p>
                <p class="Universe">
                    Our flexible model, combining depot-to-depot and direct delivery routes, ensures that your delivery needs are always prioritised and
                    managed efficiently. From major cities to remote locations, we can be relied upon for a seamless and timely delivery process.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/Heavy/NationalLine.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column1 Starts -->
<div class="GrayArea" id="RoadTrainTransport">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/Heavy/RoadTrain.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Road Train Transport</h1>
                <p class="Universe">
                    Widely known for its excellence in road train haulage services across Australia, Legend Australia connects clients with a wide-reaching
                    logistics network, advanced road train combinations and configurations, and a skilled team dedicated to ensuring prompt and safe delivery.
                </p>
                <p class="Universe">
                    Our fleet is made up of multiple trucks and trailers fitted with the latest technology, which allows us to cater to even the most
                    complex transportation requirements. Whether it's raw materials, industrial equipment, or oversized machinery, we can transport
                    your goods with the highest level of efficiency and reliability.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column1 Ends -->
<!-- Column2 Starts -->
<div class="GrayArea1" id="HeavyHaulage">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Heavy Haulage</h1>
                <p class="Universe">
                    Founded with a vision to redefine heavy haulage services, our fleet of modern, well-maintained vehicles ensures
                    optimal performance for every journey, while our skilled drivers and logistics team coordinate seamless operations
                    from start to finish. From construction materials to mining aggregates, we can cater to a wide range of haulage
                    needs always ensuring the highest standard of safety and efficiency are met.
                </p>
                <p class="Universe">
                    With Legend Australia, you can trust us to navigate the complexities of heavy haulage with ease.
                    We take care of all necessary permits and route planning, provide real-time tracking for peace of
                    mind, and adhere to stringent safety protocols to protect your valuable cargo.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/Heavy/HeavyHaulage.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column2 Ends -->
<!-- Column3 Starts -->
<div class="GrayArea" id="InfrastructureLogistics">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/Heavy/InfrastructureLogistics.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Infrastructure Logistics</h1>
                <p class="Universe">
                    As a reputable leader in the logistics industry, our experience isn't solely limited to component and infrastructure transportation.
                    We have a clear understanding of the life cycle of precast elements – from production, through storage,
                    to site installation – and the associated handling that is involved.
                </p>
                <p class="Universe">
                    Legend Australia has the capacity to accommodate a wide range of essential component and precast types as well as raw materials, including :
                </p>
                <ul class="Universe">
                    <li> Beams and columns</li>
                    <li> Stairs and ladders</li>
                    <li> Girders and joists </li>
                    <li> Wall panels and slabs</li>
                    <li> Building envelopes</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Column3 Ends -->
<!-- Column4 Starts -->
<div class="GrayArea1" id="PrecastConcreteTransport">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 10px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Precast Concrete Transport</h1>
                <p class="Universe">
                    Precast concrete, popular across the construction industry for its versatility and strength, requires specialised handling during transportation
                    which is why Legend Australia have tailored our services to meet these unique needs. Equipped with the latest rigging and handling tools for
                    efficient loading and unloading, our fleet ensures that whether you're transporting beams, walls, or flooring slabs, every piece reaches
                    its destination in pristine condition.
                </p>
                <p class="Universe">
                    We've collaborated with construction companies, developers, and precast manufacturers across Australia, providing flexible solutions to meet
                    their specific requirements. Our experienced staff are fully equipped to coordinate the delivery of your materials, handle any unexpected
                    delays or problems that may arise, and ensure your goods are delivered on time.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/Heavy/PrecastConcrete.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column4 Ends -->
<!-- Column5 Starts -->
<div class="GrayArea" id="ModularandBuildingTransportSolutions">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/Heavy/modularbuildings.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Modular and Building Transport Solutions</h1>
                <p class="Universe">
                    When it comes to modular and other portable buildings, Legend Australia is the go-to provider across Australia.
                    Our team of transport professionals are skilled in handling a wide range of materials, structures, and products,
                    meaning we have the capacity to move any type of modular building safely and securely.
                </p>
                <p class="Universe">
                    Whether you’re installing an office on a construction site, setting up temporary housing, or delivering prefabricated
                    homes, our team offers tailored logistics plans to suit your job. We handle everything from route planning to site
                    access considerations, and safe loading and unloading, ensuring seamless transportation from start to finish.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column5 Ends -->
