
@{
    ViewBag.Title = "Regional Feeder Services";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area1 bradcam_bg_39">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text1" style="text-align:center;">
                    <h3>Regional Feeder Services</h3>
                    <h6>Batamindo Shipping & Warehousing (BSW)</h6>
                    <p class="bradBoldFont" style="font-size:20px;text-transform:none;text-align:center;">
                        Our subsidiary, Batamindo Shipping & Warehousing (BSW), is a leading regional feeder operator offering feeder services across key Indonesian and Southeast Asian ports.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->

<div class="GrayArea1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <p class="Universe">
                    Established in 1990, Batamindo Shipping & Warehousing Pte Ltd (BSW) is a trusted regional logistics provider, dedicated to serving manufacturers in the Riau Islands Industrial Parks of Batam and Bintan. 
                    With over 20 years of operational expertise, BSW has grown into a leading regional feeder operator, offering seamless feeder services across key ports in Indonesia and Southeast Asia. 
                    Leveraging its extensive experience, BSW is well-positioned to support industrial development initiatives throughout the region.
                </p>
            </div>
            <div class="col-5">
                <img src="~/Content/images/RegentVessel/Batamindo New.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column1 Starts -->
<div class="GrayArea" id="LinerServices">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/UpdatedImages/BATAMINDO V 12.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h6 class="pm12 mt-2 mb-4">Liner Services (Container / LOLO Services)</h6>
                <p class="Universe">
                    <span style="font-weight:bold;">Lift-On/Lift-Off (“LOLO”) service : </span>
                    BSW’s Liner LOLO service offers reliable solutions for the transportation of heavy, oversized or out-of-gauge cargo via its specialised lift-on, lift-off vessels.
                </p>
                <p class="Universe">
                    BSW provides a fixed schedule, allowing for seamless port-to-port transportation, with specialised equipment and experienced crew to handle the loading and 
                    unloading of both containerised and non-containerised goods.
                </p>
            </div>
        </div>
    </div><br /><br />
</div>
<!-- Column1 Starts -->
<div class="GrayArea1">
    <div id="LessthanContainerLoad">
        <div class="container">
            <div class="row justify-content-center mb-4">

                <div class="col-lg-8 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                    <h1 class="mb-4 pm12 mt-2"> Less-than-Container Load (LCL) Consolidation Services</h1>
                    <p class="Universe">
                        BSW provides a cost-effective solution for customers shipping smaller volumes of cargo that don't fill an entire container.
                    </p>
                    <p class="Universe">
                        BSW efficiently consolidates multiple shipments from different clients into a single container, optimising space and reducing overall shipping costs.
                    </p>

                    <p class="Universe">
                        With reliable scheduling and secured handling, BSW ensures your goods are safely transported while offering flexibility in delivery.
                    </p>
                </div>
                <div class="col-lg-4 order-1 order-lg-2" style="text-align:end;" data-aos="fade-right">
                    <img src="~/Content/images/UpdatedImages/Barge/BATAMINDOIII.jpg" class="img-fluid" style="border-radius:15px;" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Column1 Starts -->
