@{
    ViewBag.Title = "Sailing Schedule";
}

<div class="bradcam_area bradcam_bg_14">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Our Solutions</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / Our Solutions / Sailing Schedule</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="property_certificates">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-right">
                <div class="certificate_listing d-flex justify-content-between align-items-center">
                    <div class="single_list">
                        <div class="thumb">
                            <p class="obiz" style="padding:40px 0px 0px 0px;margin-bottom:0rem!important;">
                                @*<a href="~/Content/documents/13122022/Port Klang to Kuala Tanjung_Dec 2022.pdf" target="_blank">•&nbsp; Kuala Tanjung to Port Klang</a>
                                    <div class="BetweenSpace"></div>*@
                                <a href="~/Content/documents/13122022/Batam to Singapore_Dec 2022.pdf" target="_blank">•&nbsp; Batam (Batu Ampar B99) to Singapore</a>
                                <div class="BetweenSpace"></div>
                                <a href="~/Content/documents/13122022/Bintan to Singapore_Dec 2022.pdf" target="_blank">•&nbsp; Bintan (Lobam) to Singapore</a>
                                <div class="BetweenSpace"></div>
                                @*<a href="~/Content/documents/Kuala Tanjung to Pasir Gudang_Sep 21 to Feb 22.pdf" target="_blank">•&nbsp; Pasir Gudang to Kuala Tanjung</a>
                                    <div class="BetweenSpace"></div>
                                    <a href="~/Content/documents/Port Klang_Singapore to India West Coast_Apr 21 to Dec 21.pdf" target="_blank">•&nbsp; Port Klang/Singapore to India West Coast</a>
                                    <div class="BetweenSpace"></div>*@
                                @*<a href="~/Content/documents/13122022/CISC Service.pdf" target="_blank">•&nbsp; China-India-West Coast Service</a>
                                    <div class="BetweenSpace"></div>
                                    <a href="~/Content/documents/13122022/Singapore to Pasir Gudang_Nov 2022 to Jan 2023.pdf" target="_blank">•&nbsp; Singapore to Pasir Gudang</a>
                                    <div class="BetweenSpace"></div>*@
                                <a href="~/Content/documents/SCHEDULE EX PKL - DEC 2022.pdf" target="_blank">•&nbsp; ex Port Klang</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .property_certificates a {
        font-weight: bold;
        font-size: 15px;
        color: rgba(24,54,130,1);
    }

    .BetweenSpace {
        margin-top: 10px;
    }
</style>