
@{
    ViewBag.Title = "Specialised Logistics";
}

<script src="~/Content/js/site.js"></script>


<!-- Page Header Start -->
<div class="bradcam_area1 bradcam_bg_31">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text1" style="text-align:center;">
                    <h3>Specialised Logistics</h3>
                    <p style="font-size:20px;text-transform:none;text-align:justify;" class="NewCss1">
                        Regent Logistics is your ultimate partner for land logistics solutions, offering a comprehensive range of services tailored to meet your diverse transportation needs.
                        With expertise in general cargo trucking, dangerous goods transport and specialized sectors such as healthcare,
                        automotive, and yacht logistics, we ensure the safe, efficient, and timely delivery of your goods across various industries.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Column1 Starts -->
<div class="GrayArea" id="GeneralCargoTrucking">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5" data-aos="fade-right">
                <img src="~/Content/images/GeneralCargoTrucking.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> General Cargo Trucking</h1>
                <p class="Universe">
                    Regent provides comprehensive cargo trucking services, encompassing seamless loading, unloading, and dependable delivery solutions for a diverse range of goods.
                    Our dedicated team offers unparalleled expertise, delivering tailored guidance and advice based on your unique site conditions and specific requirements.
                    This ensures the implementation of the most cost-effective and efficient approach to meet your transportation needs.
                </p>
                <p class="Universe">
                    At Regent, we specialize in trucking services designed to handle containers of various types and sizes, catering to a diverse range from 10 ft to 20 ft, 40 ft, etc.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column1 Ends -->
<!-- Column2 Starts -->
<div class="GrayArea1" id="DangerousGoodsTrucking">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Dangerous Goods Trucking</h1>
                <p class="Universe">
                    Regent has a proven track record in handling dangerous goods with utmost care,
                    ensuring the safe and efficient transportation of your goods to their destinations.
                </p>
                <p class="Universe">
                    Our dedicated fleet of prime movers is equipped with the latest safety features
                    and technology to provide optimal security during transit. With a team of experienced
                    dangerous goods specialists, we guarantee strict compliance with all necessary
                    regulations for the safe transportation of hazardous goods.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/DangerousGoodsTrucking.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>

        </div>
    </div>
</div>
<!-- Column2 Ends -->
<div class="GrayArea" id="HealthcareLogistics">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5 mt-2" data-aos="fade-right">
                <img src="~/Content/images/OurSolutions/SpecialisedRegent.jpg" class="img-fluid" style="border-radius: 15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Healthcare Logistics</h1>
                <p class="Universe">
                    Navigating the complexities of healthcare logistics demands precision and unwavering reliability. At Regent, we recognize the critical nature of every shipment,
                    ensuring that your medical supplies and equipment reach their destination with the highest level of care.
                </p>
                <p class="Universe">
                    Regent specializes in providing comprehensive healthcare logistics solutions, encompassing warehousing, door-to-door service, last-mile delivery, and distribution services.
                </p>
                <p class="Universe">
                    Our specialized team is deeply knowledgeable about the unique demands of the healthcare industry, handling a diverse range of materials, including pharmaceuticals, 
                    medical devices, and diagnostic samples. With a keen understanding of the stringent regulations governing healthcare logistics, we meticulously manage every aspect of the process, guaranteeing compliance and peace of mind for our clients.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column4 Ends -->
<!-- Column6 Starts -->
<div class="GrayArea1" id="YachtTransport">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 10px 30px 0px 30px;" data-aos="fade-right">
                <h1 class="mb-4 pm12 mt-2"> Yacht Transport</h1>
                <p class="Universe">
                    Be it entering or departing from marinas, or heading for an expedition, moving of boats and yachts entails a high level of professionalism and technical expertise.
                </p>
                <p class="Universe">
                    With over a decade of undisputed industrial expertise in prestigious projects, professional racing events, private owners and reputable marinas,
                    Regent tailors its solutions to the total logistics needs of the global boat and yachting community.
                </p>
                <p class="Universe">
                    Our extensive range of risk-free boat and yacht total logistics solutions include :
                </p>
                <ul class="Universe">
                    <li> Documentation and insurance services</li>
                    <li> Customs clearance, certified surveying, and reporting</li>
                    <li> Cradle fabrication for secure modes of cradling</li>
                    <li> Arrangements for skippers and divers, ensuring safety during transportation</li>
                    <li> Loading and discharging supervised by a qualified loadmaster</li>
                </ul>
                <p class="Universe" style="font-weight:bold;">
                    Regent specializes in the transportation of yachts and boats of all types and sizes.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                <img src="~/Content/images/UpdatedImages/Solutions/yachtTransport.png" class="img-fluid" style="border-radius: 15px;" />
            </div>
        </div>
    </div>
</div>
<!-- Column5 Ends -->
<!-- Column5 Starts -->
<div class="GrayArea" id="AutomotiveLogistics">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-5 align-self-center" data-aos="fade-right">
                <img src="~/Content/images/A.png" class="img-fluid" style="border-radius:15px;" />
            </div>
            <div class="col-lg-7 justify-content-center" style="padding: 0px 30px 0px 30px;" data-aos="fade-left">
                <h1 class="mb-4 pm12 mt-2"> Automotive Logistics</h1>
                <p class="Universe">
                    Regent specializes in providing specialized automotive logistics solutions tailored to meet the distinctive requirements of the automotive industry.
                    Our extensive suite of automotive logistics services encompasses customs processing, transportation, vehicle storage in our owned and authorized warehouses, and distribution services.
                </p>
                <p class="Universe">
                    Whether it's a new, used, or exported vehicle, or the necessity for bonded warehousing, we offer the expertise and equipment for seamless transportation and the ideal facilities for storing your vehicles securely.
                </p>
                <p class="Universe">
                    Located in Jurong Logistics Hub, <span style="color:#183682;">our 250,000 sqft warehouse</span> is dedicated to the storage of vehicles and other goods, ensuring efficient and reliable handling of your automotive logistics needs.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Column5 Ends -->