@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Vendor CSS Files -->
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/aos/aos.css" rel="stylesheet">
    <link href="~/assets/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/site.css" rel="stylesheet">

    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/assets/php-email-form/validate.js"></script>
    <script src="~/assets/aos/aos.js"></script>
    <script src="~/assets/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/isotope-layout/isotope.pkgd.min.js"></script>

</head>

<body class="index-page">
    <!-- Header Section -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a href="#hero" class="logo d-flex align-items-center me-auto me-xl-0">
                <h1 class="sitename">GrandLinkTech</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#Business">Businesses</a></li>
                    <li><a href="#Clients">Clients</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="#about">Get Started</a>

        </div>
    </header>
    <!-- Header Section -->
    <!-- Hero Section -->
    <div id="hero" class="hero">
        <div class="">
            <div class="row">
                <div class="col-12">
                    <img src="~/images/Home/Main.jpg" class="img-fluid" style="filter:brightness(0.7);">
                </div>
            </div>
        </div>
    </div>
    <!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>About</h2>
            <div><span>Learn More</span> <span class="description-title">About Us</span></div>
        </div>
        <!-- End Section Title -->
        <div class="container">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                    <div class="about-image position-relative">
                        <img src="~/images/about/about-portrait-1.webp" class="img-fluid rounded-4 shadow-sm" alt="About Image" loading="lazy">
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="300">
                    <div class="about-content">
                        <h2>Elevating Business Performance Through Innovation</h2>
                        <p class="lead">At GrandLinkTech, we provide reliable and efficient support solutions to help businesses deliver seamless customer experiences. </p>
                        <p>Whether it’s technical support, customer service, or IT assistance, our team is committed to fast, friendly, and results-driven support. </p>
                        <p>We partner with companies across various industries to handle their support needs, so they can focus on growth while we take care of their customers.</p>

                        <div class="row g-4 mt-3">
                            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="400">
                                <div class="feature-item">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <h5>Dedicated Team Support</h5>
                                    <p>Our highly skilled professionals are committed to providing personalized service and impactful solutions on every engagement.</p>
                                </div>
                            </div>
                            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="450">
                                <div class="feature-item">
                                    <i class="bi bi-lightbulb-fill"></i>
                                    <h5>Forward-Thinking Approach</h5>
                                    <p>We embrace innovative methodologies to develop unique strategies that drive lasting success.</p>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary mt-4">Explore Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /About Section -->
    <!-- Services Section -->
    <section id="services" class="services section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <div><span>Check Our</span> <span class="description-title">Services</span></div>
        </div>
        <!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="service-header">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="service-intro">
                            <h2 class="service-heading">
                                <div>Innovative business</div>
                                <div><span>performance solutions</span></div>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="service-summary">
                            <p>
                                We integrate forward-thinking strategies, creative approaches, and state-of-the-art technologies to deliver exceptional customer experiences that drive growth and engage target markets.
                            </p>
                            <a href="services.html" class="service-btn">
                                View All Services
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-card position-relative z-1">
                        <div class="service-icon">
                            <i class="bi bi-screwdriver"></i>
                        </div>
                        <a class="card-action d-flex align-items-center justify-content-center rounded-circle">
                            <i class="bi bi-arrow-up-right"></i>
                        </a>
                        <h3>
                            <a> Technical<span>Support</span></a>
                        </h3>
                        <p>
                            Troubleshooting, software/hardware assistance, remote desktop help, installation guidance.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-card position-relative z-1">
                        <div class="service-icon">
                            <i class="bi bi-person"></i>
                        </div>
                        <a class="card-action d-flex align-items-center justify-content-center rounded-circle">
                            <i class="bi bi-arrow-up-right"></i>
                        </a>
                        <h3>
                            <a>
                                Customer <span>Support</span>
                            </a>
                        </h3>
                        <p>
                            Multi-channel support (phone, chat, email), complaint handling, order status, and service queries.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-card position-relative z-1">
                        <div class="service-icon">
                            <i class="bi bi-pc"></i>
                        </div>
                        <a class="card-action d-flex align-items-center justify-content-center rounded-circle">
                            <i class="bi bi-arrow-up-right"></i>
                        </a>
                        <h3>
                            <a> IT Helpdesk <span>Services</span></a>
                        </h3>
                        <p>
                            L1/L2 support, system monitoring, issue escalation, resolution tracking and quick issue resolution.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-card position-relative z-1">
                        <div class="service-icon">
                            <i class="bi bi-messenger"></i>
                        </div>
                        <a class="card-action d-flex align-items-center justify-content-center rounded-circle">
                            <i class="bi bi-arrow-up-right"></i>
                        </a>
                        <h3>
                            <a> Live Chat & <span>Email Support</span></a>
                        </h3>
                        <p>
                            We offer fast, reliable live chat and email support to help businesses stay connected with their customers.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-card position-relative z-1">
                        <div class="service-icon">
                            <i class="bi bi-ticket"></i>
                        </div>
                        <a class="card-action d-flex align-items-center justify-content-center rounded-circle">
                            <i class="bi bi-arrow-up-right"></i>
                        </a>
                        <h3>
                            <a>
                                Ticketing & Issue <span>Management</span>
                            </a>
                        </h3>
                        <p>
                            End-to-end tracking and resolution using modern helpdesk tools like Zendesk, Freshdesk, or custom platforms.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-card position-relative z-1">
                        <div class="service-icon">
                            <i class="bi bi-globe"></i>
                        </div>
                        <a class="card-action d-flex align-items-center justify-content-center rounded-circle">
                            <i class="bi bi-arrow-up-right"></i>
                        </a>
                        <h3>
                            <a>
                                Outsourced Support <span>Solutions</span>
                            </a>
                        </h3>
                        <p>
                            Dedicated support teams that work as an extension of your brand—cost-effective and scalable.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /Services Section -->
    <!-- Business Section -->
    <section id="Business" class="steps section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Steps</h2>
            <div><span>How we</span> <span class="description-title">Work</span></div>
        </div>
        <!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="steps-wrapper">
                <div class="step-item" data-aos="fade-right" data-aos-delay="200">
                    <div class="step-content">
                        <div class="step-icon">
                            <i class="bi bi-lightbulb"></i>
                        </div>
                        <div class="step-info">
                            <span class="step-number">Step 01</span>
                            <h3>Initial Consultation</h3>
                            <p>Conducting thorough discovery sessions to understand your business requirements and objectives. Our expert team analyzes your needs to create a customized approach.</p>
                        </div>
                    </div>
                </div><!-- End Step Item -->

                <div class="step-item" data-aos="fade-left" data-aos-delay="300">
                    <div class="step-content">
                        <div class="step-icon">
                            <i class="bi bi-gear"></i>
                        </div>
                        <div class="step-info">
                            <span class="step-number">Step 02</span>
                            <h3>Planning &amp; Strategy</h3>
                            <p>Developing comprehensive strategies and detailed project plans based on the initial consultation. We create actionable roadmaps with clear milestones and deliverables.</p>
                        </div>
                    </div>
                </div><!-- End Step Item -->

                <div class="step-item" data-aos="fade-right" data-aos-delay="400">
                    <div class="step-content">
                        <div class="step-icon">
                            <i class="bi bi-bar-chart"></i>
                        </div>
                        <div class="step-info">
                            <span class="step-number">Step 03</span>
                            <h3>Development Phase</h3>
                            <p>Executing the planned strategies with precision and agility. Our team implements solutions while maintaining constant communication and progress updates.</p>
                        </div>
                    </div>
                </div><!-- End Step Item -->

                <div class="step-item" data-aos="fade-left" data-aos-delay="500">
                    <div class="step-content">
                        <div class="step-icon">
                            <i class="bi bi-check2-circle"></i>
                        </div>
                        <div class="step-info">
                            <span class="step-number">Step 04</span>
                            <h3>Launch &amp; Support</h3>
                            <p>Ensuring smooth deployment and providing ongoing support for implemented solutions. We monitor performance and make necessary adjustments for optimal results.</p>
                        </div>
                    </div>
                </div>
                <!-- End Step Item -->
            </div>
        </div>
    </section>
    <!-- / Business Section -->
    <!-- Clients Section -->
    <section id="Clients" class="clients section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Clients</h2>
        </div>
    </section>
    <!-- /Clients Section -->
    <!-- Contact Section -->
    <section id="contact" class="contact section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <div><span>Let's</span> <span class="description-title">Connect</span></div>
        </div>
        <!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 mb-5">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-info-box">
                        <div class="icon-box">
                            <i class="bi bi-geo-alt"></i>
                        </div>
                        <div class="info-content">
                            <h4>Our Address</h4>
                            <p>No. 401 Rustomjee Aspiree, Imax Road, Everard Nagar, Off Eastern Express Highway Sion, Mumbai 400022, India.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="contact-info-box">
                        <div class="icon-box">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <div class="info-content">
                            <h4>Email Address</h4>
                            <p>info@GrandLinkTech.com</p>
                            <p>contact@GrandLinkTech.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="contact-info-box">
                        <div class="icon-box">
                            <i class="bi bi-headset"></i>
                        </div>
                        <div class="info-content">
                            <h4>Hours of Operation</h4>
                            <p>Mon-Fri : 9.30 AM - 6 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Google Maps (Full Width) -->
        <div class="map-section" data-aos="fade-up" data-aos-delay="200">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5688.432548680076!2d72.87356831017162!3d19.0497805510001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8b797b52579%3A0xd5029fc41648d34b!2sRustomjee%20Aspiree!5e0!3m2!1sen!2sin!4v1752129785748!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- Contact Form Section (Overlapping) -->
        <div class="container form-container-overlap">
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="col-lg-10">
                    <div class="contact-form-wrapper">
                        <h2 class="text-center mb-4">Get in Touch</h2>

                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <i class="bi bi-person"></i>
                                            <input type="text" class="name form-control" name="name" placeholder="First Name" required="">
                                        </div>
                                        <div class="forleftalign,top ,alert-danger collapse" style="background-color:transparent;color:red" id="nameAlert">
                                            Name is Required *
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <i class="bi bi-envelope"></i>
                                            <input type="email" class="email form-control" name="email" placeholder="Email Address" required="">
                                        </div>
                                        <div class="forleftalign,top ,alert-danger collapse" style="background-color:transparent;color:red" id="emailAlert">
                                            Email is Required *
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <i class="bi bi-text-left"></i>
                                            <input type="text" class="subject form-control" name="subject" placeholder="Subject" required="">
                                        </div>
                                        <div class="forleftalign,top ,alert-danger collapse" style="background-color:transparent;color:red" id="subjectAlert">
                                            Subject is Required *
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <i class="bi bi-chat-dots message-icon"></i>
                                            <textarea class="message form-control" name="message" placeholder="Write Message..." style="height: 180px" required=""></textarea>
                                        </div>
                                        <div class="forleftalign,top ,alert-danger collapse" style="background-color:transparent;color:red" id="messageAlert">
                                            Message is Required *
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-center">
                                    <button type="button" id="submit" class="btn btn-primary btn-submit">SEND MESSAGE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /Contact Section -->
    <!-- Footer Section -->
    <footer id="footer" class="footer">
        <div class="container-fluid copyright mt-4">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="~/images/Logo.png" class="img-fluid" />
                </div>
                <div class="col-lg-6 align-self-center text-center">
                    <p>© <span>Copyright</span> <strong class="px-1 sitename">GrandLinkTech</strong> <span>All Rights Reserved</span></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section -->
    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Scroll Top Button -->
    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Preloader -->
    <!-- Main JS File -->
    <script src="~/js/site.js"></script>
    <script src="~/js/Index.js"></script>
    <!-- Main JS File -->
</body>

</html>