
@{
    ViewBag.Title = "LegendWhistleBlowingChannels";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_25 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Whistle Blowing Channels</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / Investor & Media / Whistle Blowing Channels</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Content Starts Here -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="obiz" data-aos="fade-up">
                <a id="Whistleblow" class="mb-2" href="~/Content/documents/24032023/Whistleblow Policy Ver3 270423.pdf" target="_blank">
                    <i class="fa-solid fa-file-pdf fa-2x text-danger"></i> <b>Whistleblow Policy</b>
                </a>
            </p>
            <p class="obiz" data-aos="fade-up">
                Legend Logistics Limited Group of Companies (&quot;Legend&quot;) Whistle Blowing Channels provide individuals
                avenues to disclose in confidence and without fear of reprisal, occurrences of possible wrongdoing within or
                related to Legend, for appropriate investigation and action.
            </p>
            <p class="obiz" data-aos="fade-up">
                All disclosures should be made in good faith, without malice, and when the whistle-blower has reasonable
                grounds for suspecting that an incident of wrongful conduct has occurred. Legend will not tolerate
                discrimination, retaliation or harassment of any kind against a whistle-blower who submits a complaint
                or report in good faith.
            </p>
            <p class="obiz" data-aos="fade-up">
                Wrongful conduct includes but is not limited to the following such as actions that :
            </p>
            <p class="obiz" data-aos="fade-up">
                Reportable matters include without limitation any conduct that involves :
            </p>
            <p class="obiz">
                <ul type="square" data-aos="fade-up">
                    <li>Dishonest behaviour;</li>
                    <li>Fraudulent activity;</li>
                    <li>Unlawful, corrupt or irregular use of company funds or practices;</li>
                    <li>Offering or accepting a bribe;</li>
                    <li>Illegal activities (including theft, dealing in or use of illicit drugs, violence or threatened violence and criminal damage against property);</li>
                    <li>Financial irregularities;</li>
                    <li>Unethical behaviour, including anything that would breach the Company Code of Conduct;</li>
                    <li>Improper or misleading accounting or financial reporting practices;</li>
                    <li>
                        Any information that indicates a significant risk to public safety or the stability of, or confidence in, the financial system is also a disclosable matter, even if it does not
                        involve a breach of a particular law;
                    </li>
                    <li>Behaviour that is oppressive, discriminatory or grossly negligent;</li>
                    <li>
                        Engaging in or threatening to engage in detrimental conduct against a person who has made a disclosure or is believed or suspected to have made,
                        or be planning to make, a disclosure;
                    </li>
                    <li>An unsafe work-practice;</li>
                    <li>Any behaviour that poses a serious risk to the health and safety of any person at the workplace;</li>
                    <li>A serious risk to public health, public safety or the environment;</li>
                    <li>Any other conduct which may cause loss to the Company or be otherwise detrimental to the interests of the Company or;</li>
                    <li>Deliberately conceal information tending to show any of the above.</li>
                </ul>
            </p>
            <p class="obiz" data-aos="fade-up">
                Reports may be made through the following : <br />
                <b>
                    Email :-
                </b>
                <a href="mailto:whistleblow@legendasia.com" style="font-size: 15px; line-height: 22px !important; color: #183682; font-weight:bold; ">whistleblow@legendasia.com</a>

            </p>

            <p class="obiz1" data-aos="fade-up"><b>Information To Be Provided</b></p>
            <p class="obiz" data-aos="fade-up">
                In making a report, the following information should be provided where possible :
                <ul type="square" data-aos="fade-up">
                    <li>Name(s) of person(s)/organisation(s) involved;</li>
                    <li>Names of any witnesses;</li>
                    <li>Description of the incident(s), including date, time and location of incident(s) ;</li>
                    <li>Frequency of occurrence of the incident(s) ;</li>
                    <li>Name(s) of person(s)/organisation(s) involved;</li>
                    <li>Details of any evidence you know of;</li>
                    <li>Value of any money or assets involved; and</li>
                    <li>Any other information that may substantiate the concern.</li>
                </ul>
            </p>
            <p class="obiz" data-aos="fade-up">
                All instances of whistle blowing, including those that do not warrant investigation or further action,
                will be reported to the Audit & Risk Committee comprising Board and/or co-opted members.
            </p>
            <p class="obiz1" data-aos="fade-up">
                <b>Frequently Asked Questions</b>
            </p>
            <!-- Question1 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>Can I remain anonymous ?</p>
            <p class="obiz" data-aos="fade-up">
                <b>A : </b>You may choose to raise your concerns anonymously and we shall respect your anonymity.
                However, concerns expressed anonymously may lack credibility and may hinder follow-up clarifications
                and investigations. Thus, we would encourage whistle-blowers to identify themselves where possible to
                facilitate the investigation process.
            </p>

            <!-- Question2 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>How will the confidentiality of my identity be protected ?</p>
            <p class="obiz" data-aos="fade-up">
                <b>A : </b>The identity of the whistle-blower will be protected and kept under utmost confidentiality.
                However, under certain circumstances, the identity of the whistle-blower may be revealed to parties
                on the need-to-know basis such as the Investigation Committee, approving authority, legal and the
                law enforcement agencies.
            </p>

            <!-- Question3 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>What information should I include in the report ?</p>
            <p class="obiz" data-aos="fade-up">
                <b>A : </b>Do provide as much specific information and details as you can, for example :
                <ul type="square" data-aos="fade-up">
                    <li>Name(s) of person(s)/organisation(s) involved;</li>
                    <li>Names of any witnesses;</li>
                    <li>Description of the incident(s), including date, time and location of incident(s) ;</li>
                    <li>Frequency of occurrence of the incident(s) ;</li>
                    <li>Name(s) of person(s)/organisation(s) involved;</li>
                    <li>Details of any evidence you know of;</li>
                    <li>Value of any money or assets involved; and</li>
                    <li>Any other information that may substantiate the concern.</li>
                </ul>
            </p>

            <!-- Question4 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>Can I share the details of the complaint with anyone outside the Legend whistle blowing channels ?</p>
            <p class="obiz" data-aos="fade-up">
                <b>A : </b>All information disclosed should be kept confidential and not shared.
            </p>

            <!-- Question5 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>Do I get any rewards for reporting misconduct ? </p>
            <p class="obiz" data-aos="fade-up"><b>A : </b>No, there is no reward for reporting misconduct to the Legend Whistle Blowing Channels.</p>

            <!-- Question6 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>Will there be an investigation process after each report is made ?</p>
            <p class="obiz" data-aos="fade-up"><b>A : </b>We will assess the information received and decide on the action required.</p>

            <!-- Question7 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>Will I be involved after I report an incident ?</p>
            <p class="obiz" data-aos="fade-up">
                <b>A : </b>We may contact you for more information if you have provided your contact details.
                If you have any new or additional information, or would like to make any amendments
                to your report, you can contact us at any time.
            </p>

            <!-- Question8 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>Can I conduct my own investigation ?</p>
            <p class="obiz" data-aos="fade-up">
                <b>A : </b>To avoid jeopardising subsequent investigation, the whistle-blower should not proceed to
                conduct investigation.
            </p>

            <!-- Question9 -->
            <p class="obiz2" data-aos="fade-up"><b>Q : </b>Are law enforcement agencies notified of reports made to the Legend Whistle-blowing channels ?</p>
            <p class="obiz" data-aos="fade-up">
                <b>A : </b>We will assess the information received and notify the relevant law enforcement agencies where
                necessary and appropriate.
            </p>
        </div>
    </div>
</div>
<div class="modal fade" id="msdsPdfViewer" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">PDF Viewer</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body row justify-content-center">
                <iframe id="msdsPdfObject" name="msdsPdfObject" width="900" onload="resizeIframe(this)" src="">
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Content Ends Here  -->

<style>
    .obiz {
        font-size: 15px;
    }

    .obiz1 {
        font-size: 16px;
    }

    .obiz2 {
        font-weight: bold;
        font-size: 15px;
    }

    li {
        font-size: 15px;
    }
</style>