@{
    ViewData["Title"] = "Newsroom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Newsroom</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Newsrroom</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->