@{
    ViewData["Title"] = "Newsroom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Newsroom</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Newsrroom</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Newsroom Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-12">
            <h3>Notice to all valued customers</h3><br />
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Batamindo V
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content for Newsroom Page Ends Here -->
<script src="~/js/site.js"></script>