@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>About Us</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Corporate Profile / About Us</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for About Us Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-12">
            <h3>About Batamindo Shipping &amp; Warehousing</h3><br />
            <p>
                Since its founding, Batamindo Shipping &amp; Warehousing has grown from
                strength to strength. By providing logistics connectivity and one-stop
                services to Singapore and beyond, we help to facilitate the investor's
                experience in Batam.
            </p>
            <p>
                We constantly seek new ways to improve the customer experience and support 
                our customer growth. We conform to the international standards of our customers, 
                while having strong local knowledge and experience.
            </p>
            <p>Our services includes:</p>
            <ul>
                <li>Daily feeder shipping between Singapore &amp; Batam with door-to-door delivery<img src="images/spacer.gif" width="1" height="8" /></li>
                <li>
                    Distribution centres in Singapore and Batam<br />
                    (Batamindo Industrial Park)<img src="../images/spacer.gif" width="1" height="8" />
                </li>
                <li>International freight forwarding<img src="../images/spacer.gif" width="1" height="8" /></li>
                <li>Project cargo and factory relocation<img src="../images/spacer.gif" width="1" height="8" /></li>
                <li>Express services<img src="../images/spacer.gif" width="1" height="8" /></li>
                <li>Special handling for Dangerous Goods (DG) and Reefer                    </li>
            </ul>
        </div>
    </div>
</div>
<!-- Main Content for About Us Page Ends Here -->
<script src="~/js/site.js"></script>