@{
    ViewData["Title"] = "Awards And Accolades ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Awards & Accolades</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Corporate Profile / Awards &amp; Accolades</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Awards & AccoladesPage Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-12">
            <p>We have received several awards from our customers and port authorities for our contributions. Here are some of them:</p>
            <ul>
                <li>
                    Keppel Distripark - Best Safety Records Award (2010)<br />
                    <img src="../images/spacer.gif" width="1" height="8" />
                </li>
                <li>
                    Corporate Social Responsibility - Akzo NobelCommunity Project at Indonesia - Batam (P Seraya) (11-13 August 2006)<br />
                    <img src="../images/spacer.gif" width="1" height="8" />
                </li>
                <li>
                    PSA - Most Safety Conscious Appropriated Berth Operator in Pasir Panjang Terminal (1996)<br />
                    <img src="../images/spacer.gif" width="1" height="8" />
                </li>
                <li>PSA - Most Safety Conscious Appropriated Berth Operator in Multi-Purpose Terminal (1998)</li>
            </ul>
        </div>
    </div>
</div>
<!-- Main Content for Awards & AccoladesPage Page Ends Here -->
<script src="~/js/site.js"></script>