@{
    ViewData["Title"] = "Corporate Milestones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Corporate Milstones</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Corporate Profile / Corporate Milestones</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Corporate Milestones Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-2">
            Jun 1990
        </div>
        <div class="col-10">
            Company was incorporated.
        </div>
    </div>
    <hr style="height:4px;">
    <div class="row">
        <div class="col-2">
            Jan 1991
        </div>
        <div class="col-10">
            <p>Started a thrice weekly schedule in January 1991 with barge Batamindo I.</p>
            <p>BSW is first operator for Batam sector to operate at Marina Wharves at PSA.  
               This facilitates easy and close connection between main line carriers to feeder 
               their containers between Singapore and Batam.</p>
        </div>
    </div>
    <hr style="border-inline-width:5px;"/>
    <div class="row">
        <div class="col-2">
            Jun 1992
        </div>
        <div class="col-10">
            Increased to a daily schedule with additional of barge Batamindo II.
        </div>
    </div>
    <hr style="border-inline-width:5px;" />
    <div class="row">
        <div class="col-2">
            May 1995
        </div>
        <div class="col-10">
            Start of cargo consolidation services for Batam.
        </div>
    </div>
    <hr style="border-inline-width:5px;" />
    <div class="row">
        <div class="col-2">
            Jun 1999
        </div>
        <div class="col-10">
            BSW completed its computerized Integrated Shipping Management System (ISMS).
        </div>
    </div>
    <hr style="border-inline-width:5px;" />
    <div class="row">
        <div class="col-2">
            Jan 2003
        </div>
        <div class="col-10">
            Start of Maersk Lines agency in Batam.
        </div>
    </div>
    <hr style="border-inline-width:5px;" />
    <div class="row">
        <div class="col-2">
            Jan 2009
        </div>
        <div class="col-10">
            Start of MCC Transport agency in Batam.
        </div>
    </div>
    <hr style="border-inline-width:5px;" />
    <div class="row">
        <div class="col-2">
            Aug 2010
        </div>
        <div class="col-10">
            Launch of a new 2,400 sqm Logistics Hub in Batam for warehousing 
            and distribution to meet customer's requirements.
        </div>
    </div>
    <hr style="border-inline-width:5px;" />
    <div class="row">
        <div class="col-2">
            Aug 2010
        </div>
        <div class="col-10">
            Started own trucking fleet for loose cargo delivery in Singapore.
        </div>
    </div>
    <hr style="border-inline-width:5px;" />
    <div class="row">
        <div class="col-2">
            Nov 2010
        </div>
        <div class="col-10">
            Introduced Sunday sailing from Batam to Singapore.
        </div>
    </div>
</div>
<!-- Main Content for Corporate Milestones Page Ends Here -->
<style>
    hr{
        opacity:0.75;
    }
</style>
<script src="~/js/site.js"></script>