@{
    ViewData["Title"] = "Our Global Network";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Our Global Network</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Corporate Profile / Our Global Network</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Our Global Network Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-6 align-self-center">
            <p>We work with a number of agents to handle our cross-border shipments.&#13;</p>
            <p>For more information, please contact us at <a href="mailto:enquiry@bsw.com.sg">enquiry@bsw.com.sg</a>.</p>
        </div>
        <div class="col-6 justify-content-center">
            <p><img src="~/images/CorporateProfile/global.png" width="400" height="412" /></p>
        </div>
    </div>
</div>
<!-- Main Content for Our Global Network Page Ends Here -->
<script src="~/js/site.js"></script>