@{
    ViewData["Title"] = "Our Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Our Team</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Corporate Profile / Our Team</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Our Team Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-12 text-center">
            <h5><strong>Vincent Tan</strong></h5>
            <h5>General Manager</h5><br />
            <h5><strong>Sam Yu</strong></h5>
            <h5>General Manager</h5><br />
            <h5><strong>Lily Lim (Ms)</strong></h5>
            <h5>Senior Manager - Finance &amp; Admin</h5><br />
            <h5><strong>Jenny Ong (Ms)</strong></h5>
            <h5>Senior Manager - Sales &amp; Marketing</h5><br />
            <h5><strong>Fadil Yusof</strong></h5>
            <h5>Senior Manager - Operations</h5><br />
            <h5><strong>Crystal Chan (Ms)</strong></h5>
            <h5>Assistant Manager - Shipping</h5>
        </div>
    </div>
</div>
<!-- Main Content for Our Team Page Ends Here -->
<style>
    h5 {
        font-size: 1.3rem;
        font-weight: 300;
    }
</style>
<script src="~/js/site.js"></script>