@{
    ViewData["Title"] = "Safety And Security";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Safety & Security</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Corporate Profile / Safety & Security</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Safety & Security Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-12">
            <h3>Safety</h3><br />
            <div class="row">
                <div class="col-10">
                    <ul>
                        <li>
                            BSW has always imposed a strict discipline in ensuring operations safety and providing a safe environment for our staff.
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <img src="~/images/CorporateProfile/bizSafe-Logo.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            Our warehouses, both in Singapore and Batam, conforms to and is&nbsp; certified to WSH Level III safety regulations.<br />
                            <img src="../images/spacer.gif" width="1" height="8" />
                        </li>
                        <li>
                            Annually BSW organises its Safety Week during the month of April that will coincide with the World Safety Day. Safety talks are carried out at the warehouse and onboard vessel to encourage safety awareness among operations staff. Safety banners and display are set up in the offices to spread the safety messages to all office staff.<br />
                            <img src="../images/spacer.gif" width="1" height="8" />
                        </li>
                        <li>BSW has also received several awards for it’s good safety practices.</li>
                    </ul>
                </div>
            </div><br />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Supply Chain Security</h3><br />
                <ul>
                    <li>
                        We have put in place a comprehensive set of security procedures in our supply chain to ensure that your cargo is safe with us.
                    </li>
                </ul>
        </div>
    </div>
</div>
<!-- Main Content for Safety & Security Page Ends Here -->
<script src="~/js/site.js"></script>