@{
    ViewData["Title"] = "Our Value Proposition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Our Value Proposition</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Our Value Proposition</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Our Value Proposition Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col">
            <ul class="obizli" style="padding:10px 0px 0px 0px;font-size:18px;text-align:justify;">
                <li><p class="obiz"></i>26 years of operating experience</li></p>
                <li><p class="obiz">Able to provide services for life cycle of company in Batam: relocation of factory, processing of customs documentation, import freight, warehousing, transportation, local distribution, and export freight</li></p>
                <li><p class="obiz">Short transit time with quick delivery within 12 hours</li></p>
                <li><p class="obiz">Dedicated berths in&nbsp; Singapore PSA Port &amp; Batam</li></p>
                <li><p class="obiz">Seamlessly connectivity to international shipping lines</li></p>
            </ul>
        </div>
    </div>
</div>
<!-- Main Content for Our Value Proposition Page Ends Here -->