

@{
    ViewBag.Title = "CareerDetails";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_10">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>CAREER OPPORTUNITIES</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / Career Opportunities</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Page Header Ends -->

<div class="container SubCarrerHeading mb-5">
    @Html.Raw(ViewBag.CareerContent)
</div>

<style>
    .SubCarrerHeading h5 {
        font-size: 18px;
    }

    .SubCarrerHeading h4 {
        font-size: 15px;
    }

    .SubCarrerHeading p {
        font-size: 15px;
    }

    .Subcontent {
        margin-left: 15px;
    }
</style>
