
@{
    ViewBag.Title = "Board";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcamBoard mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Board</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / Board</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Leadership Content Starts -->
<body class="bg-light">
    <main>
        <section id="cards">
            <div class="container pt-2" data-aos="fade-right">
                <div class="row">
                    <div class="col-lg-3" style="text-align:center;">
                        <img src="~/Content/images/UpdatedImages/LeadershipTeam/Ck.webp" class="shadow-sm rounded-circle" height="200" width="200" /><div class="LineSpaceBetween"></div>
                        <h4 class="WhyChooseText">CK Than</h4>
                        <div class="ProfileText">
                            <span style="color:#2d2d2d;font-size:15px;">Chairman and CEO</span><br>
                            LEGEND LOGISTICS LIMITED
                        </div>
                    </div>

                    <div class="col-lg-9 pt-2">
                        <p class="obiz" style="font-size:15px;text-align:justify;">
                            CK Than is the Founder, Chairman and Chief Executive Officer of Legend Logistics Group.
                            <br /><span class="LineSpaceBetween"></span>
                            He brings over 25 years of experience in the logistics industry and has held senior management positions in multinational companies both locally and internationally.
                            <br /><span class="LineSpaceBetween"></span>
                            As Chairman and CEO, CK steers the Group’s corporate development and growth strategies. His pivotal role involves cultivating partnerships overseas and spearheading the global expansion efforts of the Group.
                            <br /><span class="LineSpaceBetween"></span>
                            Since its establishment in 2012, C CK has guided the Group in diversifying its service offerings to deliver a comprehensive range of logistics solutions to customers. 
                            Under his leadership, the Group prioritizes innovation, strategic business expansion, and an unwavering commitment to customer satisfaction, all of which contribute to its remarkable success in the industry.
                        </p>
                    </div>
                </div>
            </div><br /><br />

            <div class="container pt-2" data-aos="fade-right">
                <div class="row">
                    <div class="col-lg-3" style="text-align:center;">
                        <img src="~/Content/images/UpdatedImages/LeadershipTeam/Sam.webp" class="shadow-sm rounded-circle" height="200" width="200" /><div class="LineSpaceBetween"></div>
                        <h4 class="WhyChooseText">Sam Ong</h4>
                        <div class="ProfileText">
                            <span style="color: #2d2d2d; font-size: 15px;">Executive Director & CFO </span><br>
                            LEGEND LOGISTICS LIMITED
                        </div>
                    </div>

                    <div class="col-lg-9 pt-2 align-self-center">
                        <p class="obiz" style="font-size:15px;text-align:justify;">
                            Sam Ong is the Executive Director and Chief Financial Officer of Legend Logistics Group.
                            <br><span class="LineSpaceBetween"></span>
                            He has over 18 years of experience in financial audit, private equity, corporate finance, fund raising, cross-border mergers and acquisitions, and SGX mainboard financial reporting.
                            <br><span class="LineSpaceBetween"></span>
                            Sam plays a pivotal role in the financial management of the group including financial reporting, budgeting, financial performance management tracking and review, fund raising, treasury,
                            strategic investments, and providing support for existing and new growth strategies.
                            <br><span class="LineSpaceBetween"></span>
                            Sam holds a Bachelor of Accountancy (Honours) from Nanyang Technological University and an MBA from University of Manchester.
                            <br><span class="LineSpaceBetween"></span>
                            He is also a Chartered Accountant with the Institute of Singapore Chartered Accountants.
                        </p>
                    </div>
                </div>
            </div><br /><br />

            <div class="container pt-2" data-aos="fade-right">
                <div class="row">
                    <div class="col-lg-3" style="text-align:center;">
                        <img src="~/Content/images/UpdatedImages/Board/Lim Yeow Beng2.jpg" class="shadow-sm rounded-circle" height="200" width="200" /><div class="LineSpaceBetween"></div>
                        <h4 class="WhyChooseText">BG (Ret) Lim Yeow Beng</h4>
                        <div class="ProfileText">
                            <span style="color: #2d2d2d; font-size: 15px;">Independent Director </span><br>
                            LEGEND LOGISTICS LIMITED
                        </div>
                    </div>

                    <div class="col-lg-9 pt-2">
                        <p class="obiz" style="font-size:15px;text-align:justify;">
                            BG (Ret) Lim Yeow Beng currently serves as the Independent Director of Legend Logistics Group.
                            <br><span class="LineSpaceBetween"></span>
                            With over 30 years of experience in logistics, engineering, and healthcare industries, he has served in various leadership roles and directorships of more than 25 commercial companies spanning North America, Europe, Middle East, South Asia, People's Republic of China, and ASEAN countries.
                            <br><span class="LineSpaceBetween"></span>
                            Prior to joining the private sector, General Lim held various command and staff appointments in his career with the Singapore Armed Forces. His pinnacle military appointment was the Head of Air Engineering and Logistics, being responsible for the total integrated logistics and engineering operations for the Republic of Singapore Air Force (RSAF).
                            Among others, he was instrumental in shaping the outsourcing strategies for defence industries and the development of vendor capability to support the mission requirements of the RSAF.
                            <br><span class="LineSpaceBetween"></span>
                            General Lim is a graduate of the National University of Singapore and holds a Bachelor of Engineering Degree in Mechanical Engineering (Hons) and a Master of Science in Industrial Engineering. He attended the Executive Development Programme by IMD in Switzerland. 
                            Among his military accolades, he was awarded Distinguished Graduate of the US Air Force Command and Staff College and Public Administration Medal (Silver) (Military) by the Republic of Singapore.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<!-- Leadership Content Ends -->

<style>
    .Boardarea p {
        font-size: 15px;
    }

    #cards .card {
        border-radius: 20px;
        min-height: 100%;
    }

    #cards .heading-border {
        position: absolute;
        width: 100%;
        top: 60%;
    }

    #cards .card .user-picture img {
        position: absolute;
        top: 2%;
        right: 10%;
        background: #f8f9fa !important;
        /*padding: 10px;*/
    }

    #cards .card .user-content .user-name {
        margin-right: 150px;
    }
</style>
