
@{
    ViewBag.Title = "Compliance & Governance";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_40 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>COMPLIANCE & GOVERNANCE SERVICES</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / Compliance & Governance</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <div class="well-middle">
                <div class="single-well">
                    <p class="obiz" style="font-size:15px;line-height:1.6em;">In today’s connected world, with the risk of reputational damage and severe penalties for non-compliance with legislation, 
                    Heavy Vehicle businesses are facing a myriad of challenges to ensure that they stay on top of legislative requirements.</p>
                    <p class="obiz" style="padding:10px 0px 0px 0px;font-size:15px;text-align:justify;">At Regent Australia, we offer a wide range of consultation services relating to the Australian Heavy 
                    Vehicle Industry and the current legislative requirements under the HVNL (Heavy Vehicle National Law.) Our goal is to offer the highest standards when it comes to leading and 
                    assisting the marketplace in achieving their regulatory compliance.</p>
                    <p class="obiz" style="padding:10px 0px 0px 0px;font-size:15px;text-align:justify;">Our core skill is in the design and implementation of compliance programs to meet regulatory, 
                    industry and self-regulatory standards. We can also provide regular independent monitoring and reporting to boards, senior management and regulatory agencies on issues such as 
                    Legislative Requirements, compliance with Trade Practices and Industrial Relation Matters.</p>
                    <p class="obiz" style="padding:10px 0px 0px 0px;font-size:15px;">Our expertise encompasses all facets of the Heavy Vehicle Legislation, including but not limited to:</p>

                    <ul class="obizli" style="padding:10px 0px 0px 0px;font-size:15px;text-align:justify;">
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> Chain of Responsibility Training and Advice.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> NHVR Portal Training, Permits and All Access Related activities including Road Manager negotiations.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> HVNL Legislation Training and Advice.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> Compliance & Enforcement Activities.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> HSEQ Development and maintenance.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> High Level Contract Negotiations.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> Industrial Relations including advice on payroll and Fair Work requirements.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> PBS Design & Approval Process.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> Advice, Design and Implementation of NHVAS accreditation including Mass, BFM and Maintenance.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> Internal and External Audit preparation.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> Asset Management.</li></p>
                        <li><p class="obiz"><i class="fa-solid fa-check"></i> Digitisation Initiatives.</li></p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding:40px 0px 0px 0px;" data-aos="fade-up"></div>

<style>
    .obiz {
        font-size: 15px;
        /*font-family: &apos;Helvetica', 'Arial', sans-serif;*/
        font-weight: 300;
        /*color: #6b6a6a;*/
        text-align: justify;
        /* line-height: 30px; */
        /* margin-bottom: 25px; */
    }

    .obizli li {
        font-size: 15px;
        /*font-family: 'Helvetica', 'Arial', sans-serif;*/
        font-weight: 300;
        /*color: #6b6a6a;*/
        text-align: justify;
        list-style: none;
    }

    .fa-solid .fa-check {
        color: black;
    }
</style>