
@{
    ViewBag.Title = "Corporate Social Responsibility";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_13 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>CORPORATE SOCIAL RESPONSBILITY</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / Regent People / Corporate Social Responsibility</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- CORPORATE SOCIAL RESPONSBILITY Starts -->
<div class="container">
    <div class="CSR" data-aos="fade-up">
        <p class="obiz">
            At Regent, we believe that every contribution makes a difference.
        </p>
        <p class="obiz">
            As responsible corporate citizens, we aim to give back to the communities we live in and make positive impacts toward
            sustainable development by actively organising philanthropic initiatives.
        </p>
    </div><br /><br />

    <div class="CSR" data-aos="fade-up">
        <h3 class="WhyChooseText1">SCHOLARSHIPS & BURSARIES</h3>
        <p class="obiz">
            As our commitment to education and better future, Regent offers scholarships and bursaries to students to extend support and opportunities to complete their studies and contribute to a more inclusive society.
            <br>
            <h5>Singapore University of Technology & Design (SUTD)</h5>
<p class="obiz" style="color:rgba(24,54,130,1);">
            • <a href="https://www.sutd.edu.sg/Admissions/Undergraduate/Financing-Your-Studies/Financial-Options-Financial-Aid/Financial-Aid/SUTD-administered-Study-Bursary-Awards/Legend-Logistics-SUTD-Bursary" target="_blank" class="WhyChooseText" style="font-size:15px;font-weight: bold;">Regent Group Bursary</a><br>
            • <a href="https://www.sutd.edu.sg/Admissions/Undergraduate/Scholarship/Legend-Logistics-SUTD-Scholarship" target="_blank" class="WhyChooseText" style="font-size:15px;font-weight: bold;">Regent Group Scholarship</a><br>
            <h5>Singapore Management University (SMU)</h5>
        </p>
    </div><br /><br />

    <div class="CSR" data-aos="fade-up">
        <h3 class="WhyChooseText1">COMMUNITY ENGAGEMENT & VOLUNTEERING </h3>
        <p class="obiz">
            As part of Regent&apos;s commitment to giving back to our community, we organise activities to support community members, especially those in need,
            through volunteer work or fundraising.
        </p>
    </div>

    <div class="CSR" data-aos="fade-up">
        <h5>Distribution of Goodie Bags to Low-Income Households</h5>
        <p class="obiz">On 30 October 2021, Regent packed and distributed 300 bags filled with groceries to low-income families residing in Bedok North, Singapore.</p>

        <div class="row">
            <div class="col-lg-12 ForCenterAlign d-flex">
                <div class="col-lg-4">
                    <img src="~/Content/images/CSR/3.webp" alt="" class="CSRImage"><br />
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/CSR/4.webp" alt="" class="CSRImage"><br />
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/CSR/5.webp" alt="" class="CSRImage">
                </div>
            </div>
        </div>
    </div><br /><br />

    <div class="CSR" data-aos="fade-up">
        <h5>Volunteering at Foodbank</h5>
        <p class="obiz">Regent team volunteered at Foodbank on 28 & 30 March 2022. Foodbank is a Singapore charity that provides donated food to those in need.</p>
        <p class="obiz">
            Regent team helped by sorting, taking inventory, and packing food donations for needy families. We were honored to be a part of such an
            incredible community working hard to fight food insecurity.
        </p>
        <div class="row">
            <div class="col-lg-12 ForCenterAlign d-flex">
                <div class="col-lg-6">
                    <img src="~/Content/images/CSR/1.webp" alt="" class="CSRImage">
                </div>
                <div class="col-lg-6">
                    <img src="~/Content/images/CSR/2.webp" alt="" class="CSRImage">
                </div>
            </div>
        </div>
    </div><br /><br />

    <div class="CSR" data-aos="fade-up">
        <h5>Vinnies CEO Sleepout </h5>
        <p class="obiz">
            Troy Eiken, the Managing Director of Regent Australia, participated in the Vinnies CEO Sleepout on 23 June 2022 and managed to raise
            a total donation of A$ 8,200. The funds raised help to end the cycle of homelessness for all Australians.
        </p>

        <div class="row">
            <div class="col-lg-12 ForCenterAlign">
                <img src="~/Content/images/CSR/6.webp" alt="" class="CSRImage1">
            </div>
        </div>
    </div><br /><br />

    <div class="CSR" data-aos="fade-up">
        <h5>Vertical Challenge for a Cause!</h5>
        <p class="obiz">
            Regent team participated in the Vertical Challenge organised by Singapore National Employers Federation (SNEF) on 31 August 2022 for a good
            cause! Each participant who completed the 39 floors donated $20 to the Children&apos;s Aid Society to provide warm meals for the children.
        </p>

        <div class="row">
            <div class="col-lg-12 ForCenterAlign d-flex">
                <div class="col-lg-4">
                    <img src="~/Content/images/CSR/7.webp" alt="" class="CSRImage">
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/CSR/8.webp" alt="" class="CSRImage">
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/CSR/9.webp" alt="" class="CSRImage">
                </div>
            </div>
        </div>
    </div><br /><br />

    <div class="CSR" data-aos="fade-up">
        <h5>Volunteering at MoNo Foods</h5>
        <p class="obiz">
            On 8th June and 6th July 2023, the Regent team volunteered at MoNo Foods in Singapore. We provided valuable assistance by transporting, carrying, and sorting pallets of consumer goods at the MoNo Foods facility.
        </p>
        <p class="obiz">
            MoNo Foods&apos; mission is to change consumer mindsets regarding foods that have passed their best-before dates but are still safe for consumption by redistributing them to a community that supports food waste reduction.
            MoNo Singapore actively works to divert food from going to waste and makes it accessible to those who believe in reducing food waste.
            This initiative not only addresses excessive food waste but also promotes sustainability and encourages mindful consumption.
        </p>
        <p class="obiz">
            The dedication of the Regent team serves as an inspiration for others to join the cause and work towards creating a more environmentally conscious and socially responsible society.
            Together, we can make a significant impact in reducing food waste and fostering a more sustainable future for all.
        </p>

        <div class="row">
            <div class="col-lg-12 ForCenterAlign d-flex">
                <div class="col-lg-6">
                    <img src="~/Content/images/CSR/12.webp" alt="" class="CSRImage">
                </div>
                <div class="col-lg-6">
                    <img src="~/Content/images/CSR/13.webp" alt="" class="CSRImage">
                </div>
            </div>
        </div>
    </div><br /><br />

    <div class="CSR" data-aos="fade-up">
        <h3 class="WhyChooseText1">ENVIRONMENTAL CONSERVATION</h3><div class="LineSpaceBetween"></div>
        <h5>Beach cleanup at Pasir Ris, Singapore</h5>
        <p class="obiz">Regent is committed to protecting the environment.</p>
        <p class="obiz">
            On 05 June 2022, Regent celebrated World Environment Day by conducting a beach cleanup at Pasir Ris Beach Park in collaboration with The Litter Club.
            With 40 participants including staff and family members, we collected over 100 kilos of trash, mostly plastic bags and straws.
        </p>
        <p class="obiz">This activity was an excellent opportunity for the team to get together while doing our part toward making our environment clean and sustainable.</p>

        <div class="row">
            <div class="col-lg-12 ForCenterAlign d-flex">
                <div class="col-lg-6">
                    <img src="~/Content/images/CSR/10.webp" alt="" class="CSRImage">
                </div>
                <div class="col-lg-6">
                    <img src="~/Content/images/CSR/11.webp" alt="" class="CSRImage">
                </div>
            </div>
        </div>
    </div><br />
</div>
<!-- CORPORATE SOCIAL RESPONSBILITY Ends -->

<style>
    .CSRImage {
        max-width: 100%;
    }

    .CSRImage1 {
        max-width: 80%;
    }

    .CSR p {
        font-size: 15px;
    }
</style>