@{
    ViewBag.Title = "Employee Growth & Development";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcamLegendPeople mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Employee Growth & Development</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / Regent People / Employee Growth & Development</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->

<div class="container">
    <!-- Column1 -->
    <div class="row justify-content-center mb-4">
        <div class="col-lg-7 SpacingArea1" data-aos="fade-right">
            <h1 class="mb-4 pm12"> Global Ready Talent Programme (GRT)</h1>
            <p style="text-align:justify;">
                Nurturing local ambitions for global aspirations. Taking you places, in your career with Regent.
            </p>
            <p style="text-align:justify;">
                In collaboration with Enterprise Singapore, GRT builds a pipeline of global-ready talent for Regent
                through exposing young talent to internships and overseas work opportunities.
                This presents opportunities for our people to be equipped with in-market knowledge to navigate
                challenges in overseas markets and to hone their skills for globalisation. Our people are presented
                with the opportunity to be groomed to support business expansion plans both locally and in overseas markets.
            </p>
        </div>
        <div class="col-lg-5" data-aos="fade-left">
            <img src="~/Content/images/LegendPeople/EmployeeGrowth/GlobalTalent.png" class="img-fluid" style="border-radius:15px;" />
        </div>
    </div>

    <!-- Column2 -->
    <div class="row justify-content-center mb-4">
        <div class="col-lg-5" data-aos="fade-right">
            <img src="~/Content/images/LegendPeople/EmployeeGrowth/CareerTransformation.png" class="img-fluid" style="border-radius:15px;" />
        </div>
        <div class="col-lg-7 SpacingArea2" data-aos="fade-left">
            <h1 class="mb-4 pm12"> Career Transformation</h1>
            <p style="text-align:justify;">
                We help our people to redefine their Personal and Professional Success. Our people can look to discover
                and pursue a new career within Regent to realise their career aspirations.
            </p>
        </div>
    </div><br />

    <!-- Column3 -->
    <div class="row justify-content-center mb-4">
        <div class="col-lg-7 SpacingArea1" data-aos="fade-right">
            <h1 class="mb-4 pm12"> Educational Sponsorship</h1>
            <p style="text-align:justify;">
                Regent wants to continually improve and help our people do the same! We believe in growing our people
                to reach their potential by investing in our people and offering sponsorship to further their education.
            </p>
        </div>
        <div class="col-lg-5" data-aos="fade-left">
            <img src="~/Content/images/LegendPeople/EmployeeGrowth/EducationalSponsorship.png" class="img-fluid" style="border-radius:15px;" />
        </div>
    </div><br />

    <!-- Column4 -->
    <div class="row justify-content-center mb-4">
        <div class="col-lg-5" data-aos="fade-right">
            <img src="~/Content/images/LegendPeople/EmployeeGrowth/InHouse.png" class="img-fluid" style="border-radius:15px;" />
        </div>
        <div class="col-lg-7 SpacingArea2" data-aos="fade-left">
            <h1 class="mb-4 pm12"> In-house and External Training Courses</h1>
            <p style="text-align:justify;">
                We encourage our people to attend training courses regularly to reskill and upskill themselves.
                Regent provides both in-house and external training, nonetheless our people pick up a lot on the job too,
                they are learning every day.
            </p>
        </div>
    </div><br />

    <!-- Column5 -->
    <div class="row justify-content-center mb-4">
        <div class="col-lg-7 SpacingArea1" data-aos="fade-right">
            <h1 class="mb-4 pm12"> Job Rotation and Cross Training</h1>
            <p style="text-align:justify;">
                Our people are given ample opportunity to learn new skills, not only in current job but in different job.
                As part of the career advancement, our people are exposed to working in different areas of the company.
            </p>
        </div>
        <div class="col-lg-5" data-aos="fade-left">
            <img src="~/Content/images/LegendPeople/EmployeeGrowth/JobRotation.png" class="img-fluid" style="border-radius:15px;" />
        </div>
    </div><br />
</div>