
@{
    ViewBag.Title = "History";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>History</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / History</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="finbyz-timeline">
    <div class="container-fluid  wgl-row-animation">
        <div class="row">
            <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1542873226451 vc_row-has-fill wgl-row-animation" style="position: relative;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="seofy_module_spacing"><div class="spacing_size spacing_size-initial" style="height:30px;"></div></div>
                            <div class="seofy_module_time_line_vertical appear_anim">
                                <div id="time_line_5cf90ca818fa82" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <h4 class="time_line-date">2013</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>Formed a JV, Legend Tank Pte ltd, with Purnata Family to develop bulk liquid logistics</li>
                                            </ul>
                                        </h5>
                                    </div>
                                </div>

                                <div id="time_line_5cf90ca818fc83" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <h4 class="time_line-date">2017</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>
                                                    Setup Mumbai office to expand footprint into India Subcontinent (ISC)
                                                </li>
                                                <li>
                                                    Setup Johor office in Malaysia
                                                </li>
                                            </ul>
                                        </h5>
                                    </div>
                                </div>

                                <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #12affe;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div><h4 class="time_line-date">2018</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>
                                                    Setup Melbourne office to expand Legend's footprint into Oceania
                                                </li>
                                                <li>
                                                    Setup Port Klang office in Malaysia
                                                </li>
                                                <li>
                                                    Acquired the remaining shares of Legend Tank Pte Ltd and renamed it to Legend Logistics (Asia) Pte Ltd
                                                </li>
                                            </ul>
                                        </h5>
                                        <div class="time_line-descr"></div>
                                    </div>
                                </div>

                                <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div><div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <h4 class="time_line-date">2019</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>
                                                    Commenced regional container services
                                                </li>
                                                <li>
                                                    Raised funds from Daiwa ACA APAC Growth LP
                                                </li>
                                                <li>
                                                    Renamed Legend Shipping Pte Ltd to Legend Logistics Pte Ltd to reflect the diversity of the business
                                                </li>
                                            </ul>
                                        </h5>
                                        <div class="time_line-descr"></div>
                                    </div>
                                </div>

                                <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #12affe;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div><h4 class="time_line-date">2020</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>
                                                    Setup Medan office in Indonesia
                                                </li>
                                                <li>
                                                    Launched its first dedicated fixed weekly container feeder services between Kuala Tanjong and Port Klang
                                                </li>
                                                <li>
                                                    Renamed Legend Logistics Pte Ltd to Legend Logistics Limited after being converted to a public company
                                                </li>
                                                <li>
                                                    Legend Carrier, a wholly-owned subsidiary of Legend, acquired iG Logistics Group
                                                </li>
                                            </ul>
                                        </h5>
                                        <div class="time_line-descr"></div>
                                    </div>
                                </div>

                                <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div><div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <h4 class="time_line-date">2021</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>
                                                    Setup Bangkok office in Thailand
                                                </li>
                                                <li>
                                                    Established Legend tank container depot in Nhava Sheva, India
                                                </li>
                                                <li>
                                                    Setup Netherlands office to expand footprint into Europe
                                                </li>
                                                <li>
                                                    Successfully raised funds from EDB Investments Pte Ltd
                                                </li>
                                                <li>
                                                    Setup Shanghai office
                                                </li>
                                                <li>
                                                    Setup an office in Karachi, Pakistan
                                                </li>
                                            </ul>
                                        </h5>
                                        <div class="time_line-descr"></div>
                                    </div>
                                </div>

                                <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #12affe;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div><h4 class="time_line-date">2022</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>
                                                    Renamed Legend Logistics (Asia) Pte Ltd to Legend Tank Logistics Pte Ltd to focus on bulk liquid logistics and depot management
                                                </li>
                                                <li>
                                                    Setup an office in Dubai, UAE
                                                </li>
                                                <li>
                                                    Established Legend Fintech
                                                </li>
                                                <li>
                                                    Setup Jakarta Office
                                                </li>
                                                <li>
                                                    Setup Perth Office
                                                </li>
                                            </ul>
                                        </h5>
                                        <div class="time_line-descr"></div>
                                    </div>
                                </div>

                                <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                                    <div class="time_line-date_wrap">
                                        <div class="seofy_hexagon">
                                            <svg style=" fill: #183682;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <div class="seofy_hexagon">
                                            <svg style="filter: drop-shadow(4px 5px 4px #183682); fill: #69e9f2;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                                <path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path>
                                            </svg>
                                        </div>
                                        <h4 class="time_line-date">2023</h4>
                                    </div>
                                    <div class="time_line-content">
                                        <h5 class="time_line-title">
                                            <ul>
                                                <li>
                                                    Established Legend's second tank container depot in Kandla, India
                                                </li>
                                                <li>
                                                    Setup Gandhidham office
                                                </li>
                                                <li>
                                                    Setup Qingdao office
                                                </li>
                                                <li>
                                                    Setup Seoul office
                                                </li>
                                                <li>
                                                    Completed the acquisition of Budgetcars Pte Ltd and its sister company, CFI Transport Pte Ltd
                                                </li>
                                            </ul>
                                        </h5>
                                    </div>
                                </div>

                                <div id="seofy_spacer_5cf90ca8190c4" class="seofy_module_spacing responsive_active">
                                    <div class="spacing_size spacing_size-initial" style="height:40px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- CSS -->
    <style>
        .obiz {
            font-size: 15px !important;
        }
    </style>

    <script>
        var item = jQuery('.extended-parallax')
        if (item.length !== 0) {
            item.each(function () {
                jQuery(this).paroller();
            })
        }
    </script>
