
@{
    ViewBag.Title = "LeadershipTeam";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcamLeadership">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Leadership Team</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / Leadership Team</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Page Header Ends -->

<body>
    <!-- Team Start -->
    <div class="">
        <div class="container-fluid">
            <section class="speakers section-padding" id="section_3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 p-5" data-aos="zoom-in" data-aos-delay="200">
                            <div class="speakers-thumb speakers-thumb-small" style="border:groove;">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/Original/CK Than.webp" class="img-fluid speakers-image" alt="">
                                <div class="speakers-info">
                                    <h5 class="speakers-title mb-0">CK Than</h5>
                                    <p class="speakers-text mb-0">Chairman and CEO</p>
                                    <p class="speakers-text mb-0">LEGEND LOGISTICS LIMITED</p>
                                    <p class="speakers-text mb-0 ModalButtonWork text-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1">
                                        Read More <i class="fa-solid fa-angles-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-5" data-aos="zoom-in" data-aos-delay="200">
                            <div class="speakers-thumb speakers-thumb-small" style="border:groove;">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/Original/Sam Ong.webp" class="img-fluid speakers-image" alt="">
                                <div class="speakers-info">
                                    <h5 class="speakers-title mb-0">Sam Ong</h5>
                                    <p class="speakers-text mb-0">Executive Director / CFO</p>
                                    <p class="speakers-text mb-0">LEGEND LOGISTICS LIMITED</p>
                                    <p class="speakers-text mb-0 ModalButtonWork text-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter4">
                                        Read More <i class="fa-solid fa-angles-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-5" data-aos="zoom-in" data-aos-delay="600">
                            <div class="speakers-thumb speakers-thumb-small" style="border:groove;">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/Original/Eddie.jpg" class="img-fluid speakers-image" alt="">
                                <div class="speakers-info">
                                    <h5 class="speakers-title mb-0">Eddie Leong</h5>
                                    <p class="speakers-text mb-0">Director</p>
                                    <p class="speakers-text mb-0">LEGEND CARRIER PTE LTD & LEGEND INTEGRATED LOGISTICS PTE LTD </p>
                                    <p class="speakers-text mb-0 ModalButtonWork text-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter9">
                                        Read More <i class="fa-solid fa-angles-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 p-5" data-aos="zoom-in" data-aos-delay="200">
                            <div class="speakers-thumb speakers-thumb-small" style="border:groove;">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/Original/Troy.jpg" class="img-fluid speakers-image" alt="">
                                <div class="speakers-info">
                                    <h5 class="speakers-title mb-0">Troy Eiken</h5>
                                    <p class="speakers-text mb-0">Director</p>
                                    <p class="speakers-text mb-0">LEGEND LOGISTICS HOLDINGS PTY LTD</p>
                                    <p class="speakers-text mb-0 ModalButtonWork text-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter7">
                                        Read More <i class="fa-solid fa-angles-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div><br />
                    <div class="row">
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Team End -->
    <!-- Modal Content -->
    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-end" style="border:none !important;">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 40px; border: none !important; background-color: white; color: #1C4499;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/Ck.webp" alt="Avatar" class="card-img-top" style="border-radius: 100%;">
                            </div>
                            <div class="card-body">
                                <br />
                                <div class="col-md-12">
                                    <h5 class="card-title" style="color:#183682;font-size:20px;margin-bottom:7px;">CK Than</h5>
                                    <h6 style="font-size:15px;">Chairman and CEO </h6><div class="LineSpaceBetween"></div>
                                    <p class="obiz" style="font-size:15px;text-align:justify;">
                                        CK Than is the Founder, Chairman and Chief Executive Officer of Legend Logistics Group.
                                        <br><span class="LineSpaceBetween"></span>
                                        He brings over 25 years of experience in the logistics industry and has held senior management positions in multinational companies both locally and internationally.
                                        <br><span class="LineSpaceBetween"></span>
                                        As Chairman and CEO, CK steers the Group’s corporate development and growth strategies. His pivotal role involves cultivating partnerships overseas and spearheading the global expansion efforts of the Group.
                                        <br><span class="LineSpaceBetween"></span>
                                        Since its establishment in 2012, C CK has guided the Group in diversifying its service offerings to deliver a comprehensive range of logistics solutions to customers.
                                        Under his leadership, the Group prioritizes innovation, strategic business expansion, and an unwavering commitment to customer satisfaction, all of which contribute to its remarkable success in the industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2-->
    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-end" style="border: none !important;">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 40px; border: none !important; background-color: white; color: #1C4499;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/Sam.webp" class="card-img-top" alt="Sam Ong" style="border-radius: 100%;">
                            </div>
                            <div class="card-body">
                                <br />
                                <div class="col-md-12">
                                    <h5 class="card-title" style="color: #183682; font-size: 20px; margin-bottom: 7px;">Sam Ong</h5>
                                    <h6 style="font-size: 15px;">Executive Director / CFO</h6><div class="LineSpaceBetween"></div>
                                    <p class="obiz" style="font-size: 15px; text-align: justify;">
                                        Sam Ong is the Executive Director and Chief Financial Officer of Legend Logistics Group.
                                        <br><span class="LineSpaceBetween"></span>
                                        He has over 18 years of experience in financial audit, private equity, corporate finance, fund raising, cross-border mergers and acquisitions, and SGX mainboard financial reporting.
                                        <br><span class="LineSpaceBetween"></span>
                                        Sam plays a pivotal role in the financial management of the group including financial reporting, budgeting, financial performance management tracking and review, fund raising, treasury, strategic investments, and providing support for existing and new growth strategies.
                                        <br><span class="LineSpaceBetween"></span>
                                        Sam holds a Bachelor of Accountancy (Honours) from Nanyang Technological University and an MBA from University of Manchester.
                                        <br><span class="LineSpaceBetween"></span>
                                        He is also a Chartered Accountant with the Institute of Singapore Chartered Accountants.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3-->
    <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-end" style="border: none !important;">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 40px; border: none !important; background-color: white; color: #1C4499;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/TroyEiken.webp" class="card-img-top" alt="Troy Eiken" style="border-radius: 100%;">
                            </div>
                            <div class="card-body">
                                <br />
                                <div class="col-md-12">
                                    <h5 class="card-title" style="color: #183682; font-size: 20px; margin-bottom: 7px;">Troy Eiken</h5>
                                    <h6 style="font-size: 15px;">Director</h6><div class="LineSpaceBetween"></div>
                                    <p class="obiz" style="font-size: 15px; text-align: justify;">
                                        Troy Eiken is the Director of Legend Logistics Holdings Pty Ltd, a wholly-owned subsidiary of Legend Logistics Limited.
                                        <br><span class="LineSpaceBetween"></span>
                                        He is a result-driven professional with over 15 years of experience in diverse industries, including commercial construction, large infrastructure projects, manufacturing, transport, and logistics.
                                        <br><span class="LineSpaceBetween"></span>
                                        His vast experience provides him with unique insights and understanding of the different industries and businesses, which enable him to bring the best practices to any projects.
                                        <br><span class="LineSpaceBetween"></span>
                                        With his strong expertise in project logistics, Troy is responsible for leading and growing Legend Logistics Australia and the Specialised Logistics Division of Legend Group across the Oceania region.
                                        Troy works closely with his team to strategise, plan and tender on some of Australia's largest infrastructure and contract logistics projects.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 4-->
    <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-end" style="border: none !important;">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 40px; border: none !important; background-color: white; color: #1C4499;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="~/Content/images/UpdatedImages/LeadershipTeam/EddieLeong.webp" class="card-img-top" alt="Eddie Leong" style="border-radius: 100%;">
                            </div>
                            <div class="card-body">
                                <br />
                                <div class="col-md-12">
                                    <h5 class="card-title" style="color: #183682; font-size: 20px; margin-bottom: 7px;">Eddie Leong</h5>
                                    <h6 style="font-size: 15px;">Director</h6><div class="LineSpaceBetween"></div>
                                    <p class="obiz" style="font-size: 15px; text-align: justify;">
                                        Eddie Leong serves as the Director at Legend Carrier Pte Ltd and Legend Integrated Logistics Pte Ltd, both wholly-owned subsidiaries of Legend Logistics Group.
                                        <br><span class="LineSpaceBetween"></span>
                                        Bringing over 22 years of industry experience to his role, Eddie plays a key role in driving the growth and managing the operations of these subsidiaries, ensuring seamless operations and executions of strategic plans.
                                        <br><span class="LineSpaceBetween"></span>
                                        In his leadership capacity, Eddie oversees all business units within the Integrated Logistics divisions, which encompass general cargo and dangerous goods trucking, last-mile delivery, and life science logistics.
                                        Additionally, he leads the Carrier division, overseeing liner and RORO services, as well as tramping services utilizing Legend's marine assets.
                                        <br><span class="LineSpaceBetween"></span>
                                        Before joining Legend, Eddie served as the Country Manager for ZIM Integrated Shipping Services, where he was responsible for overseeing the performance of the Singapore office. Prior to that role, he held the position of Head of Sales for OOCL,
                                        where he spearheaded the expansion of business and optimized vessel utilization for the Singapore office.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>