
@{
    ViewBag.Title = "Our Vision, Mission & Values";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_38">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Our Vision, Mission & Values</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About /  Our Vision, Mission & Values</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="banner spad">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6 align-self-center">
                <h2 class="mb-4 pm12">Our Vision</h2>
                <a>To revolutionize logistics by setting new standards of excellence making Regent Group the most trusted and admired logistics partner.</a>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <div class="hexa">
                    <div class="hex1">
                        <div class="hex2">
                            <img src="~/Content/images/Vision.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div><br /><br /><br />

        <div class="row mt-5">
            <div class="col-lg-7" data-aos="fade-right">
                <div class="dodeca">
                    <div class="dode1">
                        <div class="dode2">
                            <img src="~/Content/images/Mission.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-5">
                <h2 class="mb-4 pm12">Our Mission</h2>
                <a>
                    At Regent Group, our mission is to redefine the logistics industry through unparalleled service, and a relentless commitment to deliverance.
                    We aim to empower our clients by ensuring their goods are delivered with precision, on-time, and care, fostering growth and success in every partnership.
                </a>
            </div>
        </div>
    </div>

    <!-- Page Header Ends -->
    <!-- Column1 Starts -->
    @*<div class="GrayArea" id="LinearROROService">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5" data-aos="fade-right">
                        <img src="~/Content/images/RegentVessel/Regent8.jpeg" class="img-fluid" style="border-radius: 15px;" />
                    </div>
                    <div class="col-lg-7" data-aos="fade-left" style="padding:0px 50px 0px 40px;">
                        <h1 class="mb-3 pm12 mt-2"> Vision</h1>
                        <p class="Universe">
                            To revolutionize logistics by setting new standards of excellence making Regent Group the most trusted and admired logistics partner.
                        </p>
                        <div class="LineSpaceBetween"></div><br />
                        <h1 class="mb-3 pm12 mt-2">Mission</h1>
                        <p class="Universe">
                            At Regent Group, our mission is to redefine the logistics industry through unparalleled service, and a relentless commitment to deliverance.
                            We aim to empower our clients by ensuring their goods are delivered with precision, on-time, and care, fostering growth and success in every partnership.
                        </p>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Column1 Ends -->
    <!-- Co Starts -->
    @*<div class="GrayArea1" id="TrampingService">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-right" style="padding:0px 50px 0px 40px;">
                        <h1 class="mb-3 pm12 mt-2"> Values</h1>
                        <h6>R : Reliability</h6>
                        <p class="Universe">
                            We are committed to providing dependable and consistent services that our clients can trust. Our reliability ensures that goods are delivered on time, every time.
                        </p>
                        <div class="LineSpaceBetween"></div><br />
                        <h6>R : Resilient</h6>
                        <p class="Universe">
                            We embrace challenges and adapt to changing circumstances with resilience. Our ability to overcome obstacles and continuously improve ensures we deliver exceptional results.
                        </p>
                        <div class="LineSpaceBetween"></div><br />
                        <h6>R : Responsibility</h6>
                        <p class="Universe">
                            We take responsibility for our actions and their impact on our clients and our team. We are dedicated to be reliable, dependable for our work, action and outcome.
                        </p>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 mt-1" data-aos="fade-left">
                        <img src="~/Content/images/Bradcam/1.jpg" class="img-fluid" style="border-radius: 15px;" />
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Content Ends -->
    <div class="section events" id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2 class="pm12">Our Values</h2>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6" data-aos="fade-right" data-aos-duration="500">
                    <div class="item" style="background-color: #89CFF0;">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-lg-8">
                                <ul>
                                    <li>
                                        <span class="category">Reliability</span>
                                        <p style="text-align:justify;" id="PTag">
                                            We are committed to providing dependable and consistent services that our clients can trust. Our reliability ensures that goods are delivered on time, every time.
                                        </p>
                                    </li>
                                </ul>
                                @*<a href="#"><i class="fa fa-angle-right"></i></a>*@
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-6" data-aos="fade-right" data-aos-duration="1000">
                    <div class="item" style="background-color: #6CB4EE ">
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-lg-7">
                                <ul>
                                    <li>
                                        <span class="category">Resilient</span>
                                        <p style="text-align:justify;" id="PTag">
                                            We embrace challenges and adapt to changing circumstances with resilience. Our ability to overcome obstacles and continuously improve ensures we deliver exceptional results.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6" data-aos="fade-right" data-aos-duration="1500">
                    <div class="item" style="background-color: #00BFFF;">
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>
                                        <span class="category">Responsibility</span>
                                        <p style="text-align:justify;" id="PTag">We take responsibility for our actions and their impact on our clients and our team. We are dedicated to be reliable, dependable for our work, action and outcome.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .item:before {
        content: "";
        position: absolute;
        inset: -1 !important;
        background: rgba(0, 0, 0, 0.3);
    }

    .spad {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .banner__item {
        position: relative;
        overflow: hidden;
    }

        .banner__item:hover .banner__item__text a:after {
            width: 40px;
            background: #e53637;
        }

        .banner__item.banner__item--middle {
            margin-top: -75px;
        }

            .banner__item.banner__item--middle .banner__item__pic {
                float: none;
            }

            .banner__item.banner__item--middle .banner__item__text {
                position: relative;
                top: 0;
                left: 0;
                max-width: 100%;
                padding-top: 22px;
            }

        .banner__item.banner__item--last {
            margin-top: 100px;
        }

    .banner__item__pic {
        float: right;
    }

    .banner__item__pic1 {
        float: left;
    }

    .banner__item__text {
        max-width: 600px;
        position: absolute;
        left: 0;
        top: 140px;
    }

    .banner__item__text1 {
        max-width: 300px;
        position: absolute;
        right: 0;
        top: 140px;
    }

    .banner__item__text h2 {
        color: #111111;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 10px;
    }

    /*        .banner__item__text a {
            display: inline-block;
            color: #111111;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;
            padding: 3px 0;
            position: relative;
        }

            .banner__item__text a:after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: #111111;
                content: "";
                -webkit-transition: all, 0.3s;
                -o-transition: all, 0.3s;
                transition: all, 0.3s;
            }*/

    .banner__item__text1 h2 {
        color: #111111;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 10px;
    }

    /*.banner__item__text1 a {
        display: inline-block;
        color: #111111;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
        padding: 3px 0;
        position: relative;
    }*/

    /*        .banner__item__text1 a:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #111111;
            content: "";
            -webkit-transition: all, 0.3s;
            -o-transition: all, 0.3s;
            transition: all, 0.3s;
        }*/

    /*.section {
        padding-top: 30px;
        margin-top: 120px;
    }*/

    .events .section-heading {
        margin-bottom: 100px;
    }

    .events .item {
        /*background-color: #f1f0fe!important;*/
        border-radius: 80px;
        position: relative;
        /*padding: 40px;*/
        margin-bottom: 40px;
    }

        .events .item .image {
            position: relative;
        }

            .events .item .image img {
                position: absolute;
                border-radius: 25px;
                max-width: 260px;
                left: 0;
                top: -70px;
            }

        .events .item ul li {
            display: inline-block;
            /*width: 17.5%;*/
            vertical-align: middle;
        }

            /*.events .item ul li:first-child {
                width: 35%;
            }*/

            .events .item ul li:nth-of-type(2) {
                width: 28%;
            }

            .events .item ul li span.category {
                font-size: 18px;
                /*text-transform: uppercase;*/
                /*color: #7a6ad8;*/
                background-color: #fff;
                padding: 8px 20px;
                border-radius: 25px;
                font-weight: bold;
                display: inline-block;
                margin-bottom: 20px;
            }

            .events .item ul li h4 {
                font-size: 15px;
                font-weight: 600;
            }

            .events .item ul li span {
                display: inline-block;
                font-size: 14px;
                color: #4a4a4a;
                margin-bottom: 10px;
            }

            .events .item ul li h6 {
                font-size: 16px;
                color: #7a6ad8;
                font-weight: 600;
            }

        .events .item a {
            position: absolute;
            right: 0;
            top: 22px;
            background-color: #7a6ad8;
            width: 60px;
            height: 120px;
            display: inline-block;
            text-align: center;
            line-height: 120px;
            font-size: 18px;
            z-index: 1;
            color: #fff;
            border-radius: 60px 0px 0px 60px;
        }

    .item:nth-child(1) {
        background-image: none !important;
        background-position: 72% 35%;
    }

    .dodeca, .dodeca div {
        /*margin: 0 auto;*/
        transform-origin: 50% 25%;
        overflow: hidden;
        width: 600px;
        height: 600px;
    }

    .dodeca {
        transform: rotate(120deg);
    }

    .dode1 {
        transform: rotate(-60deg);
    }

    .dode2 {
        transform: rotate(-60deg);
    }
</style>