
@{
    ViewBag.Title = "QHSPolicy";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_38">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>QHS Policy</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / QHS Policy</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Page Header Ends -->
<!-- QUALITY MANAGEMENT SYSTEM Starts -->
<div class="container">
    <div class="row section_title" data-aos="fade-right">
        <h3 style="font-size:25px;color:rgba(24,54,130,1)">Quality Management System</h3>
    </div>
    <div class="row QHS" data-aos="fade-right">
        <div class="col-lg-12">
            <p class="obiz" style="text-align:justify;">
                Since our establishment, Regent has been deeply committed to quality and sustainability. We ensure that our products and services are built and delivered to the highest quality standards,
                adhering to the ISO 9001:2015 Quality Management System and the ISO 14001:2015 Environmental Management System.
            </p>
            <p class="obiz">
                As part of our ongoing commitment to enhancing customer satisfaction and ensuring quality assurance, safety, and sustainability, Regent continues to integrate the principles of the ISO standards into our business processes.
            </p>
        </div>
    </div>
    <div class="row" data-aos="fade-right">
        <div class="col-lg-12 text-center">
            <img src="~/Content/images/UpdatedImages/QHS/ISO9001_logo.webp" alt="" class="HealthImagesWork"> &emsp;
            <img src="~/Content/images/UpdatedImages/QHS/ISO14001_logo.webp" alt="" class="HealthImagesWork">&emsp;
        </div>
    </div>
</div>
<br />
<br />
<!-- QUALITY MANAGEMENT SYSTEM Ends -->
<!-- HEALTH & SAFETY MANAGEMENT SYSTEM -->
<div class="container">
    <div class="row section_title" data-aos="fade-right">
        <h3 style="font-size:25px;color:rgba(24,54,130,1)">Health & Safety Management System</h3>
    </div>
    <div class="row QHS" data-aos="fade-right">
        <div class="col-lg-12">
            <p class="obiz" style="text-align:justify;">
                Regent strongly believes that safety always comes first in any business operation. We ensure that the working environment we provide for our employees and stakeholders involved in our operations and projects is safe, secure, and healthy.
                Our Occupational Health and Safety Management System is aligned with ISO 45001:2018, and our Workplace Safety & Health (WSH) conforms to BizSAFE standards.
            </p>
        </div>
    </div>
    <div class="row" data-aos="fade-right">
        <div class="col-lg-12 text-center">
            <img src="~/Content/images/UpdatedImages/QHS/ISO45001_logo.webp" alt="" class="HealthImagesWork"> &emsp;
            <img src="~/Content/images/UpdatedImages/QHS/HealthImage2.webp" alt="" class="HealthImagesWork1">&emsp;
            <img src="~/Content/images/UpdatedImages/QHS/cert2.webp" alt="" class="HealthImagesWork">
        </div>
    </div>
</div>
<br />
<br />
<!-- HEALTH & SAFETY MANAGEMENT SYSTEM -->

<style>
    .HealthImagesWork {
        max-height: 70px;
    }

    .HealthImagesWork1 {
        max-height: 80px;
    }

    .QHS p {
        font-size: 15px;
    }
</style>
