@{
    ViewBag.Title = "Regent People";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcamLegendPeople mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Regent People</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / About / Regent People</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->

<div class="property_certificates mb-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12" style="padding: 10px 0px 0px 20px; margin: 0 auto; max-width: 50rem; text-align: justify; width: 100%;" data-aos="zoom-out" data-delay="600">
                <div class="certificate_listing d-flex justify-content-between align-items-center">
                    <div class="single_list">
                        <div class="thumb">
                            <div class="section_title">
                                <h4 style="font-weight:bold;text-align:center;font-size:30px;line-height:1.5;" class="businessHeading">Stand Out ABove the Rest, <br />SOAR to NEW HEIGHTS with Regent!</h4>
                            </div>
                            <p class="obiz" style="text-align:justify;">
                                At Regent, we take pride in our people. We are a global company that values aspiration, diversity, harmonization and collaborative positive attitude. We offer our people all the support they need to make their career with Regent a rewarding one.
                            </p>
                            <p class="obiz" style="text-align:justify;">
                                Our People not only work with us but also grow with us and stay with us. They are the ones who make the positive impact and build an amazing Regent.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-5 mb-3" data-aos="fade-right">
            <a href="@Url.Action("EmployeeGrowthDevelopment","About")">
                <div class="swiper-slide1 swiper-slide--People">
                    <div class="col-lg-12">
                        <h2 style="font-size: 25px; text-align: center;">
                            Employee Growth & Development
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-5 mb-3" data-aos="fade-left">
            <a href="@Url.Action("LifeWorkAtRegent","About")">
                <div class="swiper-slide1 swiper-slide--People1">
                    <div class="col-lg-12">
                        <h2 style="font-size:25px;text-align:center;">
                            Life & Work at Regent
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<section id="call-to-action" class="call-to-action mt-4 mb-4">
    <div class="container text-center" data-aos="zoom-out">
        <h3 class="JoinUs">Join Us</h3>
        <p>
            Regent encourages its people to be creative and seek out new and improved methods of doing things. If you are ready for challenges and looking to develop your career with a global company,
            Regent is prepared to give you the responsibility and autonomy to grow.
        </p>
        <p>
            Join us now and realize your full potential. Whether you are an undergraduate looking for an internship or you are looking to take the next step in your career, Regent offers interesting
            and challenging jobs across the globe.
        </p>
        <a class="cta-btn" href="@Url.Action("Career","About")">Join Us</a>
    </div>
</section>
