
@{
    ViewBag.Title = "Barge";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_41">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Barge</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / Fleet / Barge</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Page Header Ends -->

<div class="property_certificates">
    <div class="container">
        <div class="row" style="padding:30px 0px 0px 0px;" data-aos="fade-up">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-5 col-md-7" data-aos="fade-right">
                <div class="container section_title">
                    <h3 style="color:#1C3682;font-size:25px;">BATAMINDO III</h3>
                    <img src="~/content/images/UpdatedImages/Barge/BATAMINDOIII.jpg" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-6 col-md-8" data-aos="fade-left">
                <div class="container" style="padding:50px 10px;">
                    <table class="fleet" id="aquarius">
                        <tr>
                            <th>Type</th>
                            <th>Crane Barge</th>
                        </tr>
                        <tr>
                            <td>Built</td>
                            <td>1995</td>
                        </tr>
                        <tr>
                            <td>LOA</td>
                            <td>44.93 M</td>
                        </tr>
                        <tr>
                            <td>GRT</td>
                            <td>1414 T</td>
                        </tr>
                        <tr>
                            <td>NRT</td>
                            <td>683 T</td>
                        </tr>
                        <tr>
                            <td>DWT</td>
                            <td>2563.18 T</td>
                        </tr>
                    </table>
                    @*<br>
                    <a href="~/Content/documents/06062023/Legend Barge 2508.pdf" target="_blank" style="color:#1C3682;font-size:15px;font-weight:bold;line-height: 25px;">
                        Download PDF
                    </a>*@
                </div>
            </div>
        </div>

        <div class="row" style="padding:60px 0px 30px 0px;" data-aos="fade-up">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-5 col-md-7" data-aos="fade-right">
                <div class="container section_title">
                    <h3 style="color:#1C3682;font-size:25px;">BATAMINDO V</h3>
                    <img src="~/Content/images/UpdatedImages/Barge/BATAMINDOV.jpg" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-6 col-md-8" data-aos="fade-left">
                <div class="container" style="padding:50px 10px;">
                    <table class="fleet" id="aquarius">
                        <tr>
                            <th>Type</th>
                            <th>Crane Barge</th>
                        </tr>
                        <tr>
                            <td>Built</td>
                            <td>2016</td>
                        </tr>
                        <tr>
                            <td>LOA</td>
                            <td>70.23 M</td>
                        </tr>
                        <tr>
                            <td>GRT</td>
                            <td>1895 T</td>
                        </tr>
                        <tr>
                            <td>NRT</td>
                            <td>568 T</td>
                        </tr>
                        <tr>
                            <td>DWT</td>
                            <td>4677.73 T</td>
                        </tr>
                    </table>
                    <br>
                    @*<a href="~/Content/documents/18112022/LegendBarge2510.pdf" target="_blank" style="color: #1C3682;font-size:15px;font-weight: bold;line-height:25px;">
                        Download PDF
                    </a>*@
                </div>
            </div>
        </div>
    </div>
</div>