
@{
    ViewBag.Title = "LandingCraft";
}

<script src="~/Content/js/site.js"></script>

<!-- Page Header Start -->
<div class="bradcam_area bradcam_bg_36">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>LANDING CRAFT</h3>
                    <p> <a href="@Url.Action("index","Home")">Home</a> / Fleet / Landing Craft</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Page Header Ends -->

<div class="property_certificates">
    <div class="container">
        <div class="row align-items-center">
            <div class="row mb-4" style="padding:30px 0px 0px 0px;" data-aos="fade-up">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-5 col-md-7" data-aos="fade-right">
                    <div class="container section_title">
                        <h3 style="color: #1C3682; font-size: 25px;">REGENT GEMINI</h3>
                        <img src="~/Content/images/UpdatedImages/LandingCraft/RegentGemini.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-8" data-aos="fade-left">
                    <div class="container" style="padding:50px 10px;">
                        <table class="fleet" id="aquarius">
                            <tr>
                                <th>Type</th>
                                <th>Landing Craft</th>
                            </tr>
                            <tr>
                                <td>Built</td>
                                <td>2013</td>
                            </tr>
                            <tr>
                                <td>LOA</td>
                                <td>54.32 M</td>
                            </tr>
                            <tr>
                                <td>GRT</td>
                                <td>1144 T</td>
                            </tr>
                            <tr>
                                <td>NRT</td>
                                <td>343 T</td>
                            </tr>
                            <tr>
                                <td>DWT</td>
                                <td>1158.55T</td>
                            </tr>
                        </table>
                        <br>
                        <a href="~/Content/documents/Latest/RegentGemini.pdf" target="_blank" style="color:#1C3682;font-size:15px;font-weight:bold;line-height: 25px;">
                            Download PDF
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mb-5" data-aos="fade-up">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-5 col-md-7" data-aos="fade-right">
                    <div class="container section_title">
                        <h3 style="color: #1C3682; font-size: 25px;">REGENT LIBRA</h3>
                        <img src="~/Content/images/UpdatedImages/LandingCraft/Libra 8 .jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-8" data-aos="fade-left">
                    <div class="container" style="padding:50px 10px;">
                        <table class="fleet" id="aquarius">
                            <tr>
                                <th>Type</th>
                                <th>Landing Craft</th>
                            </tr>
                            <tr>
                                <td>Built</td>
                                <td>2019</td>
                            </tr>
                            <tr>
                                <td>LOA</td>
                                <td>45.5 M</td>
                            </tr>
                            <tr>
                                <td>GRT</td>
                                <td>484 T</td>
                            </tr>
                            <tr>
                                <td>NRT</td>
                                <td>146 T </td>
                            </tr>
                        </table>
                        <br>
                        <a href="~/Content/documents/06022025/RegentLibra.pdf" target="_blank" style="color:#1C3682;font-size:15px;font-weight:bold;line-height:25px;">
                            Download PDF
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mb-5" style="padding:30px 0px 0px 0px;" data-aos="fade-up">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-5 col-md-7" data-aos="fade-right">
                    <div class="container section_title">
                        <h3 style="color: #1C3682; font-size: 25px;">AYU 28</h3>
                        <img src="~/Content/images/UpdatedImages/LandingCraft/Ayu28.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-8" data-aos="fade-left">
                    <div class="container" style="padding:50px 10px;">
                        <table class="fleet" id="aquarius">
                            <tr>
                                <th>Type</th>
                                <th>Landing Craft</th>
                            </tr>
                            <tr>
                                <td>Built</td>
                                <td>2006</td>
                            </tr>
                            <tr>
                                <td>LOA</td>
                                <td>54.50 M</td>
                            </tr>
                            <tr>
                                <td>GRT</td>
                                <td>446 T</td>
                            </tr>
                            <tr>
                                <td>DWT</td>
                                <td>669 T</td>
                            </tr>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
