@{
    ViewData["Title"] = "Feeder Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Feeder Services</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Feeder Services</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Overview Page Starts Here -->
<div class="container FreeSpace">
    <div class="row">
        <div class="col-8">
            <p>
                We accept containerised cargo (COC, SOC, Reefer), Loose Cargo (LCL)
                & Project Cargo, subject to space availability and approval.
            </p><br />
            <div class="row mb-3">
                <h3 style="text-decoration:underline">SINGAPORE-BATAM-SINGAPORE</h3>
                <div class="col-12">
                    <ul>
                        <li>2 x SAILINGS PER DAY</li>
                        <li>EVERY MONDAY TO SATURDAY</li>
                    </ul>
                </div>
                <p>In 2003, BSW signed Connecting Carriers Agreement with Maersk Lines for Batam service.</p>
            </div>
            <div class="row">
                <h4>Vessel (Barge) Name</h4>
                <p>(a) Batamindo I</p>
                <p>(b) Batamindo III</p>
                <p>(c) Batamindo V (operating soon)</p>
                <p>Remarks : Above 2 vessels will alternate as "1st Vessel" or '2nd Vessel"</p>
            </div>
            <div class="row">
                <h4>Courier Services</h4>
                <ul>
                    <li>Monday to Friday - two sailings per day</li>
                    <li>Saturday - one sailing per day</li>
                </ul>

            </div>
            <div class="row">
                <h4>Handcarry</h4>
                <ul>
                    <li>
                        Ad-hoc and urgent shipments
                    </li>
                </ul>
                <p>Charter and adhoc timings are available upon request.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="~/images/OurServiceOfferings/services-feeder.jpg" />
        </div>
    </div>
</div>
<!-- Main Content for Overview Page Ends Here -->
<style>
    h5 {
        font-size: 1rem;
        font-weight: 500;
    }
</style>
<script src="~/js/site.js"></script>