@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Overview</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Overview</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Overview Page Starts Here -->
<div class="GrayArea1">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;">
                <p class="Universe">
                    BSW provides integrated one-stop services. 
                    We are able to handle the life cycle of companies operating in Batam, from factory setup, 
                    to input of raw materials, and export of finish products, freight and project cargo.
                </p>
                <p class="Universe">
                    We have experience handling intra-Indonesia shipments and cross-border shipments between China, 
                    Indonesia, Malaysia, and Singapore. Products handled include electrical parts, automotive wires, 
                    plastics materials for medical instrument and food/fruits etc.
                </p>
                <p class="Universe">
                    These services are underpinned by an Integrated Shipping Management System and Warehouse 
                    Management System which allow us to keep track and monitor on time delivery of shipments and materials to customers.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1">
                <img src="~/images/OurServiceOfferings/services-overview.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>

        </div>
    </div>
</div>
<!-- Main Content for Overview Page Ends Here -->