@{
    ViewData["Title"] = "Project Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Project Cargo</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Project Cargo</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Overview Page Starts Here -->
<div class="GrayArea1">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;">
                <p class="Universe">
                    BSW handles heavy equipment or bulky machinery, including the international forwarding, 
                    transhipment transfer, special ground-handling and land haulage plus the physical 
                    positioning of the equipment onto the new site. In 1991, BSW transported two 
                    electrical transformers from Senoko power station to Batam. Since then, 
                    we have handled project shipments in various locations in Asia.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1">
                <img src="~/images/OurServiceOfferings/services-cargo.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-7 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;">
                <h4>Factory relocation</h4>
                <p class="Universe">
                    BSW provides end-to-end service for factory relocation. 
                    We work with companies along the whole value chain, including engineering companies 
                    to disassemble and assemble machinery, packaging companies, surveyors, and our 
                    logistics operations, to ensure that factory start-up plans for new investors 
                    are completed according to schedule.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 mt-1">
                <img src="~/images/OurServiceOfferings/services-relocation.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-12 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;">
                <h4>Personal relocation</h4>
                <p class="Universe">
                    Working with international movers, BSW also handles the shipment of
                    personal effects in and out of Batam.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Main Content for Overview Page Ends Here -->