@{
    ViewData["Title"] = "Trucking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="bradcam_area bradcam_contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Trucking</h3>
                    <p> <a href="@Url.Action("index", "Home")">Home</a> / Our Service Offerings / Trucking</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
<!-- Main Content for Trucking Page Starts Here -->
<div class="GrayArea1">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 order-2 order-lg-1" style="padding: 0px 30px 0px 30px;">
                <p class="Universe">
                    BSW possesses its own fleet in Singapore as well as manage a number of 
                    trucking subcontractors.
                </p>
                <p class="Universe">
                    We currently manage a total fleet size of 540 trucks in Batam and 500 in Singapore.
                </p>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 mt-1" style="text-align:center;">
                <img src="~/images/OurServiceOfferings/services-trucking.jpg" class="img-fluid" style="border-radius:15px;" />
            </div>

        </div>
    </div>
</div>
<!-- Main Content for Trucking Page Ends Here -->
<script src="~/js/site.js"></script>